@import "../../assets/styles/variables.scss";

.loginheader {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  height: 70px;
  border-bottom: 1px solid #d2d3d4;
  padding: 0 24px;

  @include big6 {
    padding: 12px;
  }


  img {}

  .contactsales {
    height: 40px;
    border: 1px solid #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    font-size: 14px;
    // font-family: "intermedium";
    color: #fff;
    @include big6{
      display: none;
    }
  }
}

//  new anbu
.logincontentwithheader {
  padding-top: 70px;
  min-height: 100vh;
}

.loginmain {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
  text-align: center;

  @include big6 {
    padding: 24px 0;
  }

  .loginmainblock {
    width: 420px;
    padding: 0 16px;

    // @include big7 {
    //   width: 100%;
    // }
    h2 {
      font-size: 24px;
      text-align: center;
      // font-family: "intersemibold";
      margin: 0;
    }

    p {
      color: var(--Color-Black-Black-800, #000);
      text-align: center;
      font-size: 16px;
      // font-family: 'interregular';
      // font-family: "interlight";
      margin: 8px 0 24px;
      line-height: 22px;

      span {
        color: #000;
        // font-family: "Intermedium";
        font-size: 14px;
      }
    }

    &.loginmainsecure {
      .msgicon {
        top: 9px;
        left: 12px;
      }
    }

    &.loginmainblockstp {

      p {
        text-align: center;
        color: #757676;
        font-size: 16px;
        line-height: 22px;
        margin: 12px 0 24px;
      }

      .inputyourself {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-top: 24px;


        .worktualstep {
          display: grid;
          gap: 4px;
        }

        .verificationsent {
          margin: 16px 0px 16px;
        }

        .connectingoogle {
          display: grid;
          width: 100%;
          align-items: center;
          gap: 12px;
        }

        .passwordtext {
          width: 100%;
          position: relative;
          display: flex;
          flex-direction: column;
          margin: 0;

          .eroreword {
            border: 1.5px solid #F44;
            outline: 4px solid #FFE5E5;

          }

          .phonellabelinput {
            input {
              padding-left: 48px !important;
            }
          }

          .absolutedetails {
            background-color: #fff;
            position: absolute;
            border-radius: 6px;
            border: 1px solid #E4E4E4;
            background: var(--Full-White, #FFF);
            box-shadow: 0px 2px 3px 0px rgba(12, 21, 35, 0.04);
            padding: 12px;
            right: -294.5px;
            bottom: -44px;
            z-index: 99;

            @include big4 {
              position: unset;
              margin: 12px 0 0;
              box-shadow: none;
            }

            p {
              color: #000;
              text-align: left;
              margin: 4px 0;
              display: flex;
              align-items: center;
              gap: 5px;
            }

            .wrong {
              color: #FF4444;
            }
          }

          .contented {
            position: relative;

            span {
              position: absolute;
              right: 18px;
              bottom: 45px;
              // &:nth-child(1){
              //   color: #FFBB33;
              // }
              // &:nth-child(2){
              //   color: #FF4444;
              // }
              // &:nth-child(3){
              //   color: #33B5E5;
              // }
              // &:nth-child(4){
              //   color:#00C851 ;
              // }
            }
          }

          input {
            width: 100%;

            &:hover {
              border: 1.5px solid #A6A6A6;
            }

            &:active {
              border: 1px solid #000 !important;
            }

            &:focus {
              outline: 0.6px solid #252526;
              box-shadow: 0 2px 3px 0 rgba(12, 21, 35, .04);
            }

            &:focus-within {
              border: 1px solid #000 !important;
              box-shadow: none;
            }
          }

          .placetold {
            display: flex;
            align-items: center;
            margin: 12px 0 0;
            gap: 8px;

            span {
              border-radius: 6px;
              border: 1px solid #F0F1F2;
              height: 7px;
              gap: 8px;
              width: 100%;
              display: flex;
              align-items: center;
              background-color: #F0F1F2;

              &:nth-child(1) {
                background-color: #FF4444;
              }
            }

            &.stepverifyfair {
              span {
                &:nth-child(1) {
                  background-color: #FFBB33;
                }

                &:nth-child(2) {
                  background-color: #FFBB33;
                }
              }
            }

            &.stepverifymoderate {
              span {
                &:nth-child(1) {
                  background-color: #33B5E5;
                }

                &:nth-child(2) {
                  background-color: #33B5E5;
                }

                &:nth-child(3) {
                  background-color: #33B5E5;
                }
              }
            }

            &.stepverifystrong {
              span {
                &:nth-child(1) {
                  background-color: #00C851;
                }

                &:nth-child(2) {
                  background-color: #00C851;
                }

                &:nth-child(3) {
                  background-color: #00C851;
                }

                &:nth-last-child(1) {
                  background-color: #00C851;
                }
              }
            }
          }
        }

        .passwordtextverify {
          width: 100%;
          position: relative;


          input {
            width: 100%;


            &:hover {
              border: 1.5px solid #A6A6A6;
            }

            &:active {
              border: 1px solid #000 !important;
            }

            &:focus {
              outline: 0.6px solid #252526;
              box-shadow: 0 2px 3px 0 rgba(12, 21, 35, .04);
            }

            &:focus-within {
              border: 1px solid #000 !important;
              box-shadow: none;
            }
          }

          svg {
            position: absolute;
            right: 16px;
            bottom: 14px;
          }
        }

        .verificationinput {
          display: flex;
          align-items: center;
          flex-wrap: wrap;

          .errorfieldcondition {
            margin-top: 4px;
          }

          .verificationinputchange {
            display: flex;
            width: 100%;
            gap: 12px;
          }

          input {
            width: 50px;
            text-align: center;
            border: 1px solid #E4E4E4;
            font-size: 14px;

            @include big5 {
              width: 100%;
              padding: 0 8px;
            }

            &:hover {
              border: 1.5px solid #A6A6A6;
            }

            &:active {
              border: 1px solid #000 !important;
            }

            &:focus {
              outline: 0.6px solid #252526;
              box-shadow: 0 2px 3px 0 rgba(12, 21, 35, .04);
            }

            &:focus-within {
              border: 1px solid #000 !important;
              box-shadow: none;
            }
          }
        }

        p {
          color: #757676;

          span {
            color: #000;
          }
        }

        .changemailone {
          background-color: #000;
          border: 1px solid #000;
          height: 38px;
          margin: 12px 0 4px;

          &:hover {
            background-color: #252526 !important;
            border: 1px solid #252526 !important;
          }
        }

        .mailverify {
          color: #757676;
          background-color: #fff;
          border: 1px solid #BDBEBF;
          display: flex;
          align-items: center;
          gap: 12px;
          height: 38px;
          justify-content: center;

          &:hover {
            border: 1px solid #000 !important;
            background-color: #fff !important;
          }

          img {
            float: unset;
          }
        }

        .receiveotp {
          color: #252526;
          line-height: 24px;

          span {
            color: #0084FF;
            cursor: pointer;

            &:hover {
              text-decoration: underline !important;
            }
          }

          a {
            color: #0084FF;
            cursor: pointer;

            &:hover {
              text-decoration: underline !important;
              cursor: pointer !important;
            }
          }
        }

        .emailorpassword {
          color: #757676;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 6px;
          margin: 12px 0;

          &::after {
            content: "";
            border-width: 1px;
            border-bottom: 1px solid #E3E4E5;
            width: 50%;
          }

          &::before {
            content: "";
            border-width: 1px;
            border-bottom: 1px solid #E3E4E5;
            width: 50%;
          }
        }

        p {
          margin-top: 1rem;
          text-align: center;
        }

        button {
          color: #fff;
          background-color: #4285F4;
          border: 1px solid #4285F4;
          height: 42px;
          line-height: 30px;
          border-radius: 6px;
          font-size: 14px;
          padding: 0 8px;
          cursor: pointer;
          display: block;

          &:hover {
            background-color: #2c6dd8 !important;
            border: 1px solid #2C6DD8 !important;
          }

          &.microsoft {
            background-color: #2F2F2F;
            border: 1px solid #2F2F2F;

            &:hover {
              background-color: #4d4d4d !important;
              border: 1px solid #4d4d4d !important;
            }
          }

          &.appline {
            background-color: #201515;
            border: 1px solid #201515;

            &:hover {
              background-color: #4d4d4d !important;
              border: 1px solid #4d4d4d !important;
            }
          }

          img {
            float: left;
          }
        }

        // .emailpassword {
        //   background-image: url('../../../public/signup/email.svg');
        //   background-position: 12px;
        //   background-repeat: no-repeat;
        //   padding: 12px 32px;
        // }
        &.errormessage {
          &:hover {
            border: 1.5px solid #A6A6A6;
          }

          &:active {
            border: 1px solid #FF4444 !important;
          }

          &:focus {
            outline: 4px solid#FFD6D6;
            box-shadow: 0px 2px 3px 0px rgba(12, 21, 35, 0.04);
          }

          &:focus-within {
            border: 1px solid #F44 !important;
            box-shadow: none;
          }
        }
      }

      .passwordlogin {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          display: flex;
          align-items: center;
          gap: 4px;

          input {
            height: auto;
          }
        }

        input {
          &:focus {
            outline: none;
          }
        }
      }

      .loginpassword {
        color: #fff;
        background-color: #000;
        border: 1px solid #000;
        margin: 12px 0 0;

        &:hover {
          background-color: #252526 !important;
          border: 1px solid #252526 !important;
        }
      }
    }
  }
}

.socialmedia {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .socialmediainner {
    color: #fff;
    height: 44px;
    line-height: 30px;
    border-radius: 6px;
    font-size: 14px;
    // font-family: "intermedium";
    padding: 0 8px;
    cursor: pointer;
    position: relative;
    background-color: #4285f4;
    border: 1px solid #4285f4;
    display: flex;
    align-items: center;
    justify-content: center;

    &.microsoft {
      background-color: #2f2f2f;
      border: 1px solid #2f2f2f;
    }

    &.apple {
      background-color: #201515;
      border: 1px solid #201515;
    }

    img {
      position: absolute;
      left: 8px;
    }
  }
}

.loginid {
  color: #757676;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin: 12px 0;
  white-space: nowrap;

  &::before {
    content: "";
    border-width: 1px;
    border-bottom: 1px solid #e3e4e5;
    width: 50%;
  }

  &::after {
    content: "";
    border-width: 1px;
    border-bottom: 1px solid #e3e4e5;
    width: 50%;
  }
}

.loginblock {
  .inputdiv {
    display: inline-flex;
    flex-direction: column;
    gap: 6px;
    margin: 0 0 16px;
    width: 100%;
    position: relative;

    &.inputdivmail {
      input {
        padding: 0 12px 0 32px;
      }

      .msgicon {
        position: absolute;
        top: 15px;
        left: 10px;
      }

    }

    &.verificationinputchange {
      flex-direction: row;
      justify-content: space-between;

      input {
        width: 50px;
        text-align: center;
        border: 1px solid #E4E4E4;
        font-size: 14px;
        // font-family: 'intermedium';

        &:hover {
          border: 1.5px solid #A6A6A6;
        }

        &:active {
          border: 1px solid #000 !important;
        }

        &:focus {
          outline: 0.6px solid #252526;
          box-shadow: 0 2px 3px 0 rgba(12, 21, 35, .04);
        }

        &:focus-within {
          border: 1px solid #000 !important;
          box-shadow: none;
        }
      }
    }
  }

  .errorText {}

  input {
    border-radius: 6px;
    border: 1px solid #e3e8ef;
    background: #f6f7f9;
    height: 44px;
    padding: 0 12px;
    font-size: 14px;

    &:hover {
      border: 1.5px solid #A6A6A6;
    }

    &:active {
      border: 1px solid #000 !important;
    }

    &:focus {
      outline: 0.6px solid #252526;
      box-shadow: 0 2px 3px 0 rgba(12, 21, 35, .04);
    }

    &:focus-within {
      border: 1px solid #000 !important;
      box-shadow: none;
    }
  }
}

.loginbutton {
  .loadingbtn {
    width: 100%;
    display: flex;
    flex-direction: column;

    .loginbuttonst {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin: 24px 0 0;

      &.lognbtn {
        p {
          color: #252526;
          // font-family: 'Interregular';

        }
      }

      .remaining {
        color: #000;
        text-align: center;
        font-family: 'Interregular';
        font-size: 14px;
        line-height: 19px;

        span {
          // font-family: 'intersemibold';
        }
      }
    }

    .btnSignin {
      margin: 12px 0;
    }
  }

  .btnSignin {
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
    margin: 8px 0;
    height: 42px;
    line-height: 30px;
    border-radius: 6px;
    font-size: 14px;
    padding: 0 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    // font-family: 'intermedium';
    font-size: 16px;

    &:hover {
      background-color: #777579;
      border: 1px solid #777579;
    }

    &.btnSigninemail {
      color: var(--Colors-Essentials-Text-Sub-Title, #757676);
      text-align: center;
      font-size: 14px;
      line-height: 20px;
      border-radius: 6px;
      border: 1px solid #E4E4E4;
      background: var(--Full-White, #FFF);
      box-shadow: 0 2px 3px 0 rgba(12, 21, 35, 0.04);
      background-color: #fff;
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  .loadersetactive {}
}

.forgot {
  color: #000;
  // padding: 12px 0 0;
  line-height: 21px;
  // font-family: "interregular";
  @include big6{
    padding: 0;
  }

  span {
    color: #0084FF;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.showClear {
  position: absolute;
  right: 14px;
  top: 10px;

  svg {
    cursor: pointer;
  }
}

.errorText {
  color: red;
  font-size: 13px;
  text-align: left;
  // font-family: "interregular";
}

.contented {
  .alertweak {
    color: #FF4444;
  }

  .alertweakfair {
    color: #FFBB33;
  }

  .alertweakmoder {
    color: #33B5E5;
  }

  .alertweakstrong {
    color: #00C851;
  }
}

.loginheightforscroll {
  height: calc(100vh - 70px);
  overflow-y: auto;
}

.keeplog {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 32px;
  padding: 0 9px;
  @include big6{
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin: 0 0 16px;
  }

  .chkboxspan {
    display: flex;
    gap: 8px;
    align-items: center;
    cursor:pointer;
    input{
      height: auto;
    }

  }
}

.openeye,
.closeeye {
  position: absolute;
  top: 38px;
  left: 20px;
}