.marketingleads {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    max-width: 798px;
    width: 100%;
    margin: 24px auto 0;

    @include big1 {
        padding: 0 16px;
        gap: 12px;
    }

    .totalsaleblock {
        display: grid;
        align-items: stretch;
        gap: 8px;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;

        @include big5 {
            grid-template-columns: repeat(1, 1fr);
            gap: 12px;
        }

        .revenuecontainer {
            width: 100%;
            border-radius: var(--Radius-space-radius-medium, 16px);
            border: 0.6px solid #D2D3D4;
            background-color: #FFF;
            padding: 16px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;

            .totalsaletitle {
                color: #0B0B10;
                font-family: 'Inter';
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
            }

            .clvtrack {
                color: #5E5E69;
                font-family: 'Inter';
                font-size: 14px;
                font-weight: 400;
                line-height: normal;
            }

            .totalsalesubtitle {
                color: #0B0B10;
                font-family: 'Inter';
                font-size: 20px;
                font-weight: 600;
                line-height: 24px;

                span {
                    color: #0B0B10;
                    font-family: 'Inter';
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                }
            }

            .totalsaledesc {
                @include paragraph;
            }

            .tradelist {
                display: flex;
                align-items: center;
                gap: 4px;
                color: #0E8F50;
                font-family: 'Inter';
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                padding: 8px 0;
            }
        }
    }

    .saleblockcontainer {
        border-radius: 24px;
        border: 0.6px solid #D2D3D4;
        background: #FFF;
        padding: 16px;
        gap: 12px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        @include big3{
            border-radius: 16px;
        }
        .insightscard {
            width: 100%;
            display: grid;
            gap: 4px;

            .insightscardtitle {
                color: #0B0B10;
                font-family: 'Inter';
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
            }

            .insightscardsubtitle {
                color: #5E5E69;
                font-family: 'Inter';
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
            }
        }

        .ratetitle {
            @include paragraph;
            span {
                font-weight: 500;
            }
        }
    }

    .funnelcontainer {
        width: 100%;
        border-radius: 24px;
        border: 0.6px solid #D2D3D4;
        background: #FFF;
        padding: 16px;

        .leadconversation {
            color: #252526;
            font-family: 'Inter';
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
            padding: 0 0 21px;
        }

        .convolist {
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 40px;

            @include big5 {
                gap: 24px;
                flex-direction: column;
            }
        }
    }

    .funneldatalist {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;

        @include big5 {
            gap: 12px;
            width: 100%;
        }

        .datahistory {
            display: flex;
            align-items: center;
            gap: 4px;
            color: #0B0B10;
            font-family: 'Inter';
            font-size: 16px;
            font-weight: 500;
            line-height: normal;

            span {
                color: #5E5E69;
            }

            .dot {
                width: 10px;
                height: 10px;
                min-width: 10px;
                max-width: 10px;
                min-height: 10px;
                border-radius: 12px;
                background: #7423D7;

                &:nth-child(2) {
                    background-color: #8650DE;
                }

                &:nth-child(3) {
                    background-color: #9A6BFA;
                }

                &:nth-child(4) {
                    background-color: #B894FF;
                }

                &:nth-last-child(1) {
                    background-color: #E6D8FF;
                }
            }

            .paidads {
                width: 10px;
                height: 10px;
                min-width: 10px;
                max-width: 10px;
                min-height: 10px;
                border-radius: 12px;
                background: #1A73E8;

                &.organicsearch {
                    background-color: #F4B400;
                }

                &.referrals {
                    background-color: #DB4437;
                }
            }
        }
    }
}