@import '../../../assets/styles/variables.scss';

.searchcontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;

    .requirement {
        width: 100%;
        border-radius: 16px;
        border: 1px solid #E5E7EB;
        background: #FFF;
        padding: 16px;

        .enhancementprogress {
            width: 100%;
            display: flex;
            align-items: flex-start;
            border-bottom: 0.6px solid #bfbfbf;
            padding: 0 0 16px;
            justify-content: space-between;

            .liststatus {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                gap: 4px;
            }

            .companylister {
                color: #3A3A3A;
                font-family: 'Inter';
                font-size: 16px;
                font-weight: 400;
                line-height: 22px;
            }

            .enhancetitle {
                color: #0B0B0B;
                font-family: 'Inter';
                font-size: 18px;
                font-weight: 600;
                line-height: 24px;
            }

            .enhancesubtitle {
                color: #757676;
                font-family: 'Inter';
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
            }
        }

        .requirementcontainer {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            border-bottom: 0.6px solid #bfbfbf;
            padding: 0 0 16px;
        }

        .multicontainer {
            display: flex;
            gap: 14px;
            align-items: center;
            justify-content: space-between;


            .multicontainertitle {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 4px;
                padding: 16px 0 0;

                .productitlename {
                    color: #3A3A3A;
                    font-family: 'Inter';
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 22px;
                }

                .productrange {
                    color: #757676;
                    font-family: 'Inter';
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16px;
                }
            }

            .prioritystatus {
                border-radius: 24px;
                border: 0.6px solid #DE003D;
                background: #F2F2F2;
                color: #DE003D;
                font-family: 'Inter';
                font-size: 13px;
                font-weight: 400;
                line-height: 18px;
                padding: 2px 6px;
            }
        }

        .progresscontainer {
            display: flex;
            align-items: center;
            gap: 14px;
            padding: 16px 0 0;

            .inprogress {
                color: #2C2E80;
                font-family: 'Inter';
                font-size: 13px;
                font-weight: 400;
                line-height: 18px;
                border-radius: 24px;
                border: 0.618px solid #575CFF;
                background: linear-gradient(180deg, #FFF 25%, #F2F2F2 100%);
                padding: 2px 8px;
            }

            .buildingcontainer {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 4px;

                .buildingtitle {
                    color: #000;
                    font-family: 'Inter';
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16px;
                }

                .servicetitle {
                    color: #757676;
                    font-family: 'Inter';
                    font-size: 10px;
                    font-weight: 400;
                    line-height: 14px;
                }
            }
        }
    }
}