@import '../../../assets/styles/variables.scss';

.searchblockmain {
    max-width: 798px;
    margin: 24px auto;
    width: 100%;

    .searchlistline {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .activitylistcontainer {
        .activitymaincontainer {
            border-radius: 13px;
            border: 0.6px solid #D2D3D4;
            background: #FFF;
            padding: 14px 22px;

            .blockcontainer {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                gap: 8px;
                border-bottom: 0.6px solid #BFBFBF;
                padding: 0 0 14px;

                .innovationblock {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .innovationblockcontainer {
                        display: flex;
                        align-items: center;
                        gap: 6px;

                        .innovationblocktitle {
                            color: #000;
                            font-family: 'Inter';
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 26px;
                        }

                        .innovationblocksubtitle {
                            color: var(--clr-text-accent-info, #1869D3);
                            font-family: 'Inter';
                            font-size: 16px;
                            font-weight: 600;
                            line-height: var(--Type-type-height-medium, 24px);
                        }

                        .innovationsubtitle {
                            border-radius: 24px;
                            border: 0.618px solid #1A73E8;
                            background: #F3F7FE;
                            color: var(--clr-text-accent-info, #155BC2);
                            font-family: 'Inter';
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 16px;
                            padding: 2px 8px;
                            &.progresstag{
                                color: #755400;
                                border-radius: 24px;
                                border: 0.618px solid var(--Border-c-border-warning, #F4B400);
                                background: var(--Elements-c-element-warning-subtle, #FFF8E6);
                            }
                            &.completed{
                                color: #0C7F48;
                                border-radius: 24px;
                                border: 0.618px solid var(--Border-c-border-sucess, #0F9D58);
                                background: var(--Elements-c-element-success-subtle, #F2FBF7);
                            }
                        }
                    }

                    .prioritylist {
                        color: #DE003D;
                        font-family: 'Inter';
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 18px;
                        border-radius: 24px;
                        border: 0.6px solid #DE003D;
                        background: #F2F2F2;
                        padding: 2px 8px;
                    }
                }

                .filteringdetails {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 12px;

                    .simulates {
                        width: 50%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    .customerlist {
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        color: #000;
                        font-family: var(--font-style-primary, Inter);
                        font-size: var(--Type-type-body-small, 12px);
                        font-style: normal;
                        font-weight: 400;
                        line-height: var(--Type-type-height-regular, 20px);
                        /* 166.667% */

                        span {
                            font-weight: 600;
                        }
                    }
                }
            }

            .notifysystemcontainer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 14px 0 0;

                .estimatedlist {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 8px;

                    .assignedicon {
                        display: flex;
                        width: 34px;
                        height: 34px;
                        min-width: 34px;
                        max-width: 34px;
                        min-height: 34px;
                        max-height: 34px;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 100%;
                        }
                    }

                    .assignedlist {
                        color: #000;
                        font-family: 'Inter';
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;

                        span {
                            font-weight: 600;
                        }
                    }
                }

                .workedlist {
                    display: flex;
                    align-items: center;
                    gap: 6px;

                    .workedicon {
                        display: flex;
                        align-items: center;

                        .avatarlist {
                            border-radius: 42.667px;
                            border: 1.333px solid #FFF;
                            background: #7423D7;
                            display: flex;
                            width: 32px;
                            height: 32px;
                            padding: 5.333px;
                            justify-content: center;
                            color: #FFF;
                            font-family: 'Inter';
                            font-size: 14px;
                            font-weight: 400;
                            line-height: normal;
                            margin-right: -10px;
                        }
                    }

                    .workedlistitle {
                        color: #000;
                        font-family: 'Inter';
                        font-size: 12px;
                        font-weight: 600;
                        line-height: 16px;
                    }
                }
            }
        }
    }
}