/* CustomModal.module.scss */
.backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    width: 500px;
    background: #fff;
    border-radius: 12px;
    animation: scaleIn 0.2s ease;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 16px;
    border-bottom: 1px solid #eee;

    h3 {
        margin: 0;
        font-size: 18px;
    }

    button {
        background: none;
        border: none;
        font-size: 22px;
        cursor: pointer;
        min-width: auto;
        width: auto;
    }
}

.body {
    padding: 16px;
    max-height: calc(100vh - 268px);
    overflow-y: auto;
}

@keyframes scaleIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.footer {
    padding: 16px;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: flex-end;
    gap: 12px;

    button {
        min-height: 44px;

        &:nth-child(1) {
            color: #000;
            font-family: 'Inter';
            font-size: 16px;
            font-weight: 500;
            line-height: 18px;
            background: #fff;
            border-radius: 13px;
            border: 0.6px solid #BFBFBF;
        }

        &:nth-last-child(1) {
            color: #FFF;
            font-family: 'Inter';
            font-size: 16px;
            font-weight: 500;
            line-height: 18px;
        }
    }
}