.chatbotlayout {
    background-color: aquamarine;
    height: 30px;
    max-width: 335px;
    margin: 0 auto;
} 
// .testtt {
//     width: 10px;
//     height: 10px;
//     border: 1px solid black;
//   } 
