// @import "../../styles/variable.scss";

.resetSection {
  margin: 0px auto;
  text-align: center;
  .loadingSec {
    height: calc(550px - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    // @include big5{
    //   height: auto!important;
    // }
  }
  .logoIcon {
    text-align: center;
    margin-top: 27px;
    margin-bottom: 26px;
    // width: 116px;
    // height: 27px;
  }
  .loginText {
    text-align: center;
    color: #1f2937;
    font-size: 16px;
    font-family: "intersemibold";
    margin-bottom: 17px;
    line-height: 18px;
  }
  .resetpassLink {
    // width: 318px;
    margin: 0px auto;
    img {
      margin-bottom: 24px;
    }
    .resetLinkText {
      color: #4a5361;
      font-size: 30px;
      font-family: "interextrabold";
      margin-bottom: 16px;
      line-height: 38px;
    }
    .resetLinkDesc {
      color: #4a5361;
      font-family: "interregular";
      font-size: 14px;
      margin-bottom: 42px;
    }
    .linksTag {
      display: flex;
      flex-direction: column;
      .backLink {
        font-family: "intermedium";
        color: #848e9d;
        font-size: 11px;
        cursor: pointer;
        margin-bottom: 30px;
        &:hover {
          color: #2e84d8;
          .backText {
            text-decoration: underline;
          }
        }
        span {
          &:nth-child(1) {
            top: 3px;
            font-size: 15px;
            position: relative;
            right: 3px;
          }
        }
      }
      .resendLink {
        font-family: "intermedium";
        color: #4a5361;
        font-size: 12px;
        cursor: pointer;
        padding: 6px 12px;
        box-shadow: 0px 1px 2px $black;
        border: 1px solid #e8ebf2;
        border-radius: 6px;
        width: max-content;
        margin: 0px auto;
        font-family: "intermedium";
        line-height: 14px;
        width: 147px;
        text-align: center;
        &:hover {
          background: #f4f6fa;
          box-shadow: 0px 1px 2px $black;
          border: 1px solid #e8ebf2;
        }
        &.disabled {
          background: #ffffff;
          box-shadow: 0px 1px 2px $black;
          border: 1px solid #e8ebf2;
          color: #4a5361;
          opacity: 0.54;
          pointer-events: none;
        }
      }
    }
  }
}
