.drawer {
    width: 730px;
    position: fixed;
    min-height: 100dvh;
    top: 0;
    right: 0;
    z-index: 999;
    background: #fff;
    box-shadow: -10px 0 30px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
      &.drawersmall {
        width: 402px;
    }
.header{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
    .lefts{
        .title{
            color: #000;
font-size: 18px;
font-weight: 600;

        }
    }
    .rights{
        display: flex;
        gap: 6px;
        align-items: center;
        div{
            width: 32px;
            height: 32px;
            display: grid;
            place-items: center;
            cursor: pointer;
        }
    }
}


    .body {
        padding: 16px;
       flex: 1;
        overflow: auto;
        max-height: calc(100dvh - 64px);

    }
}
.aichatdrawer{
    .header{
        border:none !important;
    }
   
    .bodyeditor{
      
        min-height: calc(100dvh - 129px) !important;
      &:not(:has(.instructest)) {
    min-height: auto;
    height: auto;
  }
    }
    
    top:60px !important;

}