@use '../../../styles/mixin' as mx;
@use '../../../styles/variable' as vb;

.elevatebrandbody {
    height: 100%;


    .header {
        display: flex;
        justify-content: space-between;
        padding: 14px 0;
        padding-top: 0;
        padding: 14px 0;

        position: sticky;
        top: 0;
        background: #fff;

        .lefts {
            h5 {
                color: #000;
                font-family: "interregular";
                font-size: 20px;

            }
        }
    }
    .innerbody {
        height: calc(100% - 52px);

        .msgbody {
            .scroller {
                height: calc(100dvh - 223px);
                 overflow-y: scroll;
                 &.contactscroller{
                    height: calc(100dvh - 124px) !important;
                 }
                 .maincontainer{
                background-color: #fff;
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 32px;
               

                .thoughtprocessspan {
                    color: #404040;
                    font-family: "interregular";
                    font-size: 13px;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    line-height: 1.2em;



                    span {
                        display: grid;
                        cursor: pointer;
                    }
                }

                .msgbubble {
                    display: inline-block;
                    padding: 10px 14px;
                    font-size: 14px;
                    border-radius: 16px;
                    line-height: 1.4;
                    word-wrap: break-word;
                    font-family: "interregular";

                    p {
                        margin: 0;
                        color: #000;
                        word-break: break-word;
                        line-height: 1.5em;
                        margin-bottom: 12px;
                    }

                    &.left {
                        align-self: flex-start;
                        max-width: 100%;
                        padding: 0;


                    }

                    &.containprogress {
                        width: 100%;
                        border-radius: 16px;
                        background: #F7F7F7;
                        max-width: 400px;
                        padding: 30px 17px;
                        display: flex;
                        flex-direction: column;
                        gap: 12px;

                        p {
                            margin-bottom: 0px !important;
                        }
                    }

                    &.cardsresponse {
                        .cardscontainerscroller {
                            overflow-x: auto;
                            scrollbar-width: thin;
                            width: 100%;
                            display: flex;
                            gap: 12px;
                            padding: 12px 0;

                            .card {
                                padding: 21px 12px;
                                height: 148px;
                                width: 267px;
                                min-width: 267px;
                                display: flex;
                                justify-content: space-between;
                                flex-direction: column;
                                border-radius: 16px;
                                border: 0.6px solid #D2D3D4;

                                /* shadow-sm */
                                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

                                button {
                                    border-radius: 13px;
                                    border: 1px solid #BFBFBF;
                                    background: #FFF;
                                    padding: 8px;
                                    min-width: 80px;
                                    cursor: pointer;
                                }

                                .top {
                                    display: flex;
                                    gap: 8px;

                                    &.bottom {
                                        justify-content: space-between !important;
                                        align-items: center;
                                    }

                                    .rights {
                                        display: flex;
                                        flex-direction: column;
                                        gap: 4px;

                                        p {
                                            color: #404040;
                                            font-family: "interregular";
                                            font-size: 13px;

                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.right {
                        align-self: flex-end;
                        background: #f1f1f1;
                        max-width: 70%;

                        &.fileupload {
                            display: flex;
                            gap: 9px;
                            align-items: center;
                            border-radius: 12px;
                            border: 1px solid rgba(74, 83, 97, 0.24);
                            background: #F7F7F7;
                            max-width: 233px;
                            min-width: 233px;
                            padding: 12px;
                            text-decoration: none;


                            h5 {
                                color: #212A38;
                                font-family: "intermedium";
                                font-size: 14px;


                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                max-width: 100%;
                                display: block;
                            }

                            p {
                                font-size: 12px;
                                font-family: "interregular";
                                color: #A8AEBB;
                            }

                            .rights {
                                width: calc(100% - 33px);

                                display: flex;
                                flex-direction: column;
                                gap: 6px;
                            }
                        }

                    }
                }
            }
            }
        }

        .centered {
            height: 100%;
            display: grid;
            place-items: center;


            .content {
                display: flex;
                flex-direction: column;
                gap: 6px;
                width: 100%;
                max-width: 650px;
                margin: auto;

                h5 {
                    color: #000;
                    font-family: "intermedium";
                    font-size: 26px;
                    text-align: center;

                }

                p {
                    color: #000;
                    text-align: center;
                    font-family: "interregular";
                    font-size: 16px;
                    text-align: center;

                }
            }
        }


        .searchblock {
            max-width: 650px;
            margin: auto;
            border-radius: 16px;
            display: flex;
            align-items: center;

            gap: 16px;

            position: sticky;
            bottom: 0px;
            padding: 12px;
            // padding-bottom: 20px;
            border-radius: 0px;
            background: rgb(255, 255, 255);
            //   box-shadow: 0px 4px 20.8px 0px rgba(0, 0, 0, 0.06);

            .searchmessage {
                border-radius: 24px;
                border: 1px solid #bebebe;
                background: #fff;
                width: 100%;

                // display: flex;
                gap: 16px;
                align-items: center;
                padding: 8px 16px;
                overflow: hidden;
                min-height: 54px;

                .previewimages {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    padding-inline: 12px;
                    gap: 8px;

                    .previmgblock {
                        position: relative;
                        // width: 40px;
                        height: 40px;

                        .previmg {
                            width: 100%;
                            height: 100%;
                            border: 1px solid gray;
                            border-radius: 4px;
                        }

                        .removeicon {
                            position: absolute;
                            top: -4px;
                            right: -4px;
                            width: 14px;
                            height: 14px;
                            border-radius: 10px;
                            border: 1px solid gray;
                            padding: 1px;
                            background-color: #fff;
                        }
                    }
                }

                .searchmessageText {
                    display: flex;
                    gap: 6px;
                    align-items: center;
                }

                &:focus-within {
                    border: 1px solid #64ed80;
                }

                textarea {
                    width: 100%;
                    resize: none;
                    appearance: none;
                    overflow: hidden;
                    font-weight: 500;
                    border: none !important;
                    font-size: 14px;
                    font-family: "interregular";
                    overflow: auto;
                    // height: 46px;

                    &:focus {
                        outline: 0;
                    }
                }

                svg {
                    cursor: pointer;
                }

                img {
                    width: 34px;
                    cursor: pointer;
                }
            }

            svg {
                cursor: pointer;
            }
        }
    }
}

.timerspan {
    display: flex;
    gap: 6px;
    align-items: center;

    span {
        color: #404040;
        font-family: "interregular";
        font-size: 13px;

    }
}

.campaignmangerbody {
    .scroller {
        .response {
            padding: 34px;
            border-radius: 18px;
            border: 1px solid #EBEBEB;
            background: #F7F7F7;
            min-height: 400px;
            width: 63%;
            margin: auto;
            min-width: 500px;

        }
    }

    .actionsblock {
        width: 63%;
        margin: auto;
        min-width: 500px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 16px;

        p {
            text-align: center;
            color: #404040;
            text-align: center;
            font-family: "interregular";
            font-size: 13px;

        }

        .btncontainer {
            display: flex;
            gap: 8px;
            align-items: center;
            justify-content: center;

            button {
                cursor: pointer;
            }
        }
    }
}
.maincontainer{
    max-width: 650px;
    margin: auto;
}
.searchmessage {
  border: 1.7px solid transparent !important; /* needed for gradient border */
  border-radius: 24px !important;

  /* dual background: first is inner fill, second is border gradient */
  background: 
    linear-gradient(180deg, #FFF 0%, #FAFFFE 100%) padding-box, 
    linear-gradient(90deg, #4285F4, #34A853, #FBBC05, #EA4335) border-box !important;

  /* shadow if needed */
     box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1), 0 -2px 4px -1px rgba(0, 0, 0, 0.06) !important;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    padding-bottom: 0px;
    padding-top: 20px;
    .rights{
        display: flex;
        gap: 12px;
    }
}
.modbody{
    padding: 0 16px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    h3{
        color: #000;
font-family: "interregular";
font-size: 20px;

    }
    p{
        color: #000;
font-family: "interregular";
font-size: 16px;

    }
}