@use "../../../assets/styles/variables.scss" as *;

/* Your other styles below */
.projectcontainer {
    .projectopbar {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: stretch;
        gap: 14px;

        .projectblock {
            border-radius: 13px;
            border: 0.6px solid #D2D3D4;
            background: #FFF;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 14px;
            flex-direction: column;
            gap: 16px;
            .projecttoplayer{
                display:flex;
                justify-content:space-between;
                width:100%;
            }

            .projectblockinnermain {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                .projectblockleft {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 4px;

                    .projectblockinner {
                        display: flex;
                        align-items: center;
                        gap: 14px;

                        .projectblocktitle {
                            color: #000;
                            font-family: 'Inter';
                            font-size: 21px;
                            font-weight: 600;
                            line-height: 28px;
                        }

                        .subtitleblock {
                            color: #000;
                            font-family: 'Inter';
                            font-size: 21px;
                            font-weight: 600;
                            line-height: 28px;
                        }

                        .priorityblock {
                            color: #DE003D;
                            font-family: 'Inter';
                            font-size: 13px;
                            font-weight: 400;
                            line-height: 18px;
                            border-radius: 24px;
                            border: 0.6px solid #DE003D;
                            background: #F2F2F2;
                            padding: 0 8px;
                        }
                    }

                    .projectstatus {
                        color: #2C2E80;
                        font-family: 'Inter';
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 18px;
                        border-radius: 24px;
                        border: 0.6px solid #575CFF;
                        background: linear-gradient(180deg, #FFF 25%, #F2F2F2 100%);
                        padding: 2px 8px;
                    }
                }

                .projectblockright {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    .projectblockremain {
                        color: #000;
                        text-align: center;
                        font-family: 'Inter';
                        font-size: 11px;
                        font-weight: 400;
                        line-height: 18px;
                        border-radius: 100px;
                        background: #F2F2F2;
                        padding: 4px 16px;
                        display: flex;
                        align-items: center;
                        gap: 6px;

                        span {
                            color: #7423D7;
                            font-family: 'Inter';
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 22px;
                        }
                    }

                    img {
                        cursor: pointer;

                        &.rotate {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }

        .projectInnerContent {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 14px;

            .projectblockinsight {
                border-radius: 16px;
                border: 0.6px solid #D2D3D4;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 14px;
                padding: 22px;

                .agenticinsight {
                    color: #3A3A3A;
                    font-family: 'Inter';
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 22px;
                }

                .summarizelist {
                    display: flex;
                    align-items: flex-start;
                    gap: 14px;
                    padding: 0 0 16px;

                    .intentlist {
                        width: 32px;
                        height: 32px;
                        min-width: 32px;
                        min-height: 32px;
                        border-radius: 10px;
                        background: #4F39F6;
                        color: #FFF;
                        font-family: 'Inter';
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: -0.312px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .agentblock {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 6px;

                        .agentblocktitle {
                            color: #000;
                            font-family: 'Inter';
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 26px;
                        }

                        .agentblocksubtitle {
                            color: #404040;
                            font-family: 'Inter';
                            font-size: 13px;
                            font-weight: 500;
                            line-height: 22px;
                        }
                    }
                }

                .viewanalysis {
                    color: #575CFF;
                    font-family: 'Inter';
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16px;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    cursor: pointer;
                }
            }

            .requirementlist {
                border-radius: 16px;
                border: 0.6px solid #BEDBFF;
                background: linear-gradient(180deg, #FFF 50%, #F2F2F2 100%);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 14px;
                padding: 22px;

                .requireblock {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    gap: 4px;

                    .requireblocklist {
                        color: #000;
                        font-family: 'Inter';
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 24px;
                    }

                    .requireblocksublist {
                        color: #0B0B0B;
                        font-family: 'Inter';
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 26px;
                    }
                }

                .requireblockbtn {
                    color: #7423D7;
                    font-family: 'Inter';
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 18px;
                    display: flex;
                    align-items: center;
                    gap: 12px;
                }
            }

            .stepscontainer {
                display: flex;
                flex-direction: column;
                gap: 8px;
                align-items: flex-start;

                .stepstitle {
                    color: #000;
                    font-family: 'Inter';
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 26px;
                }

                .outlinetitle {
                    color: #0B0B0B;
                    font-family: 'Inter';
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 26px;
                }
            }

            .dealactivity {
                border-radius: 16px;
                border: 0.6px solid #D2D3D4;
                background: #FFF;
                padding: 22px;

                .dealblock {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 0 21px;

                    .dealblocktitle {
                        color: #000;
                        font-family: 'Inter';
                        font-size: 21px;
                        font-weight: 600;
                        line-height: 28px;
                    }

                    button {
                        background: #FFF;
                        border-radius: 13px;
                        border: 0.6px solid #BFBFBF;
                        color: #000;
                        font-family: 'Inter';
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 18px;
                        padding: 8px 16px;
                        min-height: 44px;
                    }
                }

                .dealcreatedblock {
                    .loopcontainer {
                        display: flex;
                        align-items: flex-start;
                        gap: 12px;
                        margin: 0 0 12px;

                        .loopcount {
                            border-radius: 30px;
                            color: #BDBEBF;
                            background: #FFF;
                            font-family: 'Inter';
                            font-size: 13px;
                            font-weight: 600;
                            line-height: 22px;
                            padding: 0 8px;
                            border: 1px solid #BDBEBF;
                            margin: 0 0 12px;
                            position: relative;
                            width: 26px;
                            height: 26px;
                            min-width: 26px;
                            min-height: 26px;
                            display: flex;
                            align-items: center;
                            justify-content: center;


                            &.active {
                                color: #7423D7;
                                border: 1px solid #7423D7;

                                &::before {
                                    content: '';
                                    width: 1px;
                                    height: 100%;
                                    background: #7423D7;
                                    display: block;
                                    left: 12px;
                                    top: 32px;
                                    position: absolute;
                                }

                                &::after {
                                    content: '';
                                    width: 1px;
                                    height: 100%;
                                    background: #7423D7;
                                    display: block;
                                    left: 12px;
                                    bottom: 36px;
                                    position: absolute;
                                }
                            }

                            &::before {
                                content: '';
                                width: 1px;
                                height: 100%;
                                background: #BDBEBF;
                                display: block;
                                left: 12px;
                                top: 32px;
                                position: absolute;
                            }

                            &::after {
                                content: '';
                                width: 1px;
                                height: 100%;
                                background: #BDBEBF;
                                display: block;
                                left: 12px;
                                bottom: 36px;
                                position: absolute;
                            }
                        }

                        .loopblock {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 8px;

                            .loopblocktitle {
                                color: #3A3A3A;
                                font-family: 'Inter';
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 22px;
                                display: flex;
                                align-items: center;
                                gap: 4px;

                                span {
                                    border-radius: 24px;
                                    border: 0.6px solid #136809;
                                    background: linear-gradient(180deg, #FFF 25%, #F2F2F2 100%);
                                    color: #0A3405;
                                    font-family: 'Inter';
                                    font-size: 13px;
                                    font-weight: 400;
                                    line-height: 18px;
                                    padding: 2px 8px;

                                    &.inprogress {
                                        color: #2C2E80;
                                        border-radius: 24px;
                                        border: 0.618px solid #575CFF;
                                        background: linear-gradient(180deg, #FFF 25%, #F2F2F2 100%);
                                    }
                                }
                            }

                            .loopblocksubtitle {
                                color: #404040;
                                font-family: 'Inter';
                                font-size: 13px;
                                font-weight: 500;
                                line-height: 22px;
                            }

                            .loopblocktitleline {
                                color: #000;
                                font-family: 'Inter';
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 16px;
                            }
                        }
                    }

                    .loopcontainer:first-child .loopcount::after {
                        display: none;
                        content: none;
                    }

                    .loopcontainer:last-child .loopcount::before {
                        display: none;
                        content: none;
                    }
                }
            }

            .requestednamelist {
                border-radius: 16px;
                border: 0.6px solid #D2D3D4;
                background: #FFF;
                padding: 22px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 14px;

                .requestedtitle {
                    color: #000;
                    font-family: 'Inter';
                    font-size: 21px;
                    font-weight: 600;
                    line-height: 28px;
                }

                .requestmainblock {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 6px;
                    width: 100%;

                    .requestname {
                        color: #000;
                        font-family: 'Inter';
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 26px;
                    }

                    .requestdirectmain {
                        display: flex;
                        align-items: stretch;
                        gap: 14px;
                        width: 100%;

                        .requestblock {
                            border-radius: 13px;
                            background: #F3F3F3;
                            padding: 12px 18px;
                            width: 50%;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 14px;

                            .domainname {
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                gap: 4px;

                                .domainnametitle {
                                    color: #3A3A3A;
                                    font-family: 'Inter';
                                    font-size: 16px;
                                    font-weight: 400;
                                    line-height: 22px;
                                }

                                .testconnection {
                                    color: #404040;
                                    font-family: 'Inter';
                                    font-size: 13px;
                                    font-weight: 500;
                                    line-height: 22px;
                                }
                            }
                        }
                    }

                    .documentlistid {
                        width: 100%;
                        display: grid;
                        align-items: stretch;
                        gap: 12px;
                        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
                        ;

                        .documentblock {
                            border-radius: 13px;
                            border: 0.6px solid #D2D3D4;
                            background: #FFF;
                            padding: 8px;

                            .documenttype {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                .documentlist {
                                    display: flex;
                                    align-items: center;
                                    gap: 14px;

                                    .documentlistleft {
                                        width: 40px;
                                        height: 40px;
                                        min-width: 40px;
                                        min-height: 40px;
                                        border-radius: 13px;
                                        background: #F0F1F2;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                    }

                                    .officedetails {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: flex-start;
                                        gap: 2px;

                                        .officedetailstitle {
                                            color: #000;
                                            font-family: 'Inter';
                                            font-size: 13px;
                                            font-weight: 600;
                                            line-height: 22px;

                                            span {
                                                border-radius: 24px;
                                                background: #F7F7F7;
                                                padding: 2px 8px;
                                                color: #000;
                                                font-family: 'Inter';
                                                font-size: 13px;
                                                font-weight: 400;
                                                line-height: 18px;
                                            }
                                        }
                                    }
                                }

                                .kebablist {
                                    width: 32px;
                                    height: 32px;
                                    min-width: 32px;
                                    min-height: 32px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    img {
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .teamoverview {
                display: flex;
                flex-direction: column;
                gap: 14px;
                align-items: flex-start;
                border-radius: 16px;
                border: 1px solid #E5E7EB;
                background: #FFF;
                padding: 22px;

                .teamoverviewblockone {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 14px;

                    .teamtitle {
                        color: #0B0B0B;
                        font-family: 'Inter';
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 24px;
                    }

                    .teamsubtitle {
                        color: #0B0B0B;
                        font-family: 'Inter';
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 26px;
                    }
                }

                .teamoverviewblocktwo {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 14px;
                    width: 100%;

                    .workcompleted {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        color: #000;
                        font-family: 'Inter';
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 26px;
                    }

                    .teamprepared {
                        display: flex;
                        flex-direction: column;
                        align-items: stretch;
                        gap: 14px;
                        width: 100%;

                        .completedtask {
                            border-radius: 14px;
                            border: 1px solid #D2D3D4;
                            padding: 16px;
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            justify-content: space-between;

                            &.completedtaskblock {
                                align-items: baseline;
                                justify-content: unset;
                            }

                            .completeleft {
                                width: 8px;
                                height: 8px;
                                min-height: 8px;
                                min-width: 8px;
                                border-radius: 100px;
                                background: #F59E0B;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }

                            .completeright {
                                color: #0B0B0B;
                                font-family: 'Inter';
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 26px;
                            }

                            .teamleft {
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                gap: 8px;

                                .teamtitletask {
                                    border-radius: 24px;
                                    border: 0.618px solid #136809;
                                    background: linear-gradient(180deg, #FFF 25%, #F2F2F2 100%);
                                    padding: 2px 8px;
                                    color: #0A3405;
                                    font-family: 'Inter';
                                    font-size: 13px;
                                    font-weight: 400;
                                    line-height: 18px;
                                }

                                .teamprofile {
                                    display: flex;
                                    align-items: baseline;
                                    gap: 4px;

                                    .teamprofiletitle {
                                        color: #FFF;
                                        display: flex;
                                        width: 32px;
                                        height: 32px;
                                        min-width: 32px;
                                        min-height: 32px;
                                        justify-content: center;
                                        align-items: center;
                                        gap: 4px;
                                        border-radius: 42.667px;
                                        border: 1.333px solid #FFF;
                                        background: #387EF5;
                                    }

                                    .teamprofilesubtitle {
                                        color: #0B0B0B;
                                        font-family: 'Inter';
                                        font-size: 16px;
                                        font-weight: 400;
                                        line-height: 26px;
                                    }
                                }
                            }

                            .teamright {
                                display: flex;
                                align-items: center;

                                img {
                                    margin-right: -8px;
                                }
                            }
                        }
                    }
                }

                .teamoverviewblockthree {
                    width: 100%;
                    display: flex;
                    align-items: stretch;
                    gap: 22px;

                    .daystake {
                        width: 50%;
                        border-radius: 14px;
                        border: 1px solid #818181;
                        background: #757676;
                        padding: 22px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 6px;

                        .Remainingtake {
                            display: flex;
                            align-items: center;
                            gap: 4px;
                            color: #FFF;
                            font-family: 'Inter';
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 22px;
                        }

                        .remaintitle {
                            color: #FFF;
                            font-family: 'Inter';
                            font-size: 34px;
                            font-weight: 600;
                            line-height: 46px;
                        }
                    }
                }
            }

            .documentloader {
                width: 100%;
                display: grid;
                align-items: stretch;
                gap: 12px;
                grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

                .documentblock {
                    border-radius: 13px;
                    border: 0.6px solid #D2D3D4;
                    background: #FFF;
                    padding: 8px;

                    .documenttype {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .documentlist {
                            display: flex;
                            align-items: center;
                            gap: 14px;

                            .documentlistleft {
                                width: 40px;
                                height: 40px;
                                min-width: 40px;
                                min-height: 40px;
                                border-radius: 13px;
                                background: #F0F1F2;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }

                            .officedetails {
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                gap: 2px;

                                .officedetailstitle {
                                    color: #000;
                                    font-family: 'Inter';
                                    font-size: 13px;
                                    font-weight: 600;
                                    line-height: 22px;

                                    span {
                                        border-radius: 24px;
                                        background: #F7F7F7;
                                        padding: 2px 8px;
                                        color: #000;
                                        font-family: 'Inter';
                                        font-size: 13px;
                                        font-weight: 400;
                                        line-height: 18px;
                                    }
                                }
                            }
                        }

                        .kebablist {
                            width: 32px;
                            height: 32px;
                            min-width: 32px;
                            min-height: 32px;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            img {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

            .imageuploader {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                .imagecontent {
                    display: flex;
                    height: 233px;
                    max-width: 186.4px;
                    max-height: 233px;
                    padding: 13px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
