@import '../../../assets/styles/variables.scss';

.content {
    flex: 1;
    background: #fff;
    border-radius: 12px;
    .titlecardblock {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 16px;
        border-bottom: 0.6px solid #BFBFBF;
        background: #FFF;
    }

    .filters {
        display: flex;
        gap: 8px;
        align-items: center;

        .filterchip {
            padding: 6px 12px;
            border-radius: 8px;
            border: 1px solid #ededed;
            font-size: 13px;
            cursor: pointer;
            color: #0B0B0B;
            text-align: center;
            font-family: 'Inter';
            font-weight: 400;
            line-height: 16px;
            display: flex;
            align-items: center;
            gap: 8px;

            &.active {
                border-radius: 8px;
                border: 0.6px solid #3A3A3A;
                background: #F3F3F3;
                font-weight: 600;
            }

            .filtertag {
                display: flex;
                align-items: center;

                svg {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }

    .companyheader {

        &.companytil {

            // overflow: hidden;
            .companytopbar {

                padding: 0;
                max-width: 100%;

                @include big4 {
                    padding: 0 16px;
                }

                .companycontent {
                    max-width: 798px;
                    margin: auto;
                }
            }
        }

        .listheader {
            padding: 16px 0;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 6px;
            position: sticky;
            top: 0;
            max-width: 798px;
            margin: auto;
            background-color: #fff;

            @include big4 {
                position: unset;
                padding: 16px;
            }

            .listcompany {
                color: #000;
                text-align: center;
                font-family: 'Inter';
                font-size: 21px;
                font-weight: 600;
                line-height: 28px;
            }

            .typolist {
                color: #000;
                text-align: center;
                font-size: 13px;
                font-weight: 400;
                line-height: 18px;
            }
        }

        .companylist {
            padding: 14px 22px;
            max-width: 798px;
            margin: auto;

            .companyitem {
                display: flex;
                justify-content: space-between;
                padding: 14px 0;
                border-bottom: 1px solid #ededed;
                cursor: pointer;

                @include big4 {
                    align-items: flex-start;
                    flex-direction: column;
                    gap: 14px;
                }

                .companyinfo {
                    display: flex;
                    gap: 14px;
                    align-items: flex-start;
                    justify-content: flex-start;

                    @include big4 {
                        width: 100%;
                    }

                    .logo {
                        width: 40px;
                        height: 40px;
                        min-width: 40px;
                        min-height: 40px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 700;
                        color: white;
                        text-align: center;
                        font-family: 'Inter';
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 38px;

                        &.green {
                            background: #16a34a;
                        }

                        &.pink {
                            background: #ec4899;
                        }

                        &.color {
                            background: #7423D7;
                        }
                    }

                    .companyleftcard {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                        .companyleftcardtitle {
                            color: #000;
                            text-align: center;
                            font-family: 'Inter';
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 24px;
                            text-align: left;
                        }

                        .companyleftcardsub {
                            color: #4D4D4D;
                            font-family: 'Inter';
                            font-size: 13px;
                            font-weight: 400;
                            line-height: 18px;
                        }

                        .companyleftcardhint {
                            color: #000;
                            text-align: center;
                            font-family: 'Inter';
                            font-size: 13px;
                            font-weight: 400;
                            line-height: 18px;
                            margin: 10px 0 0;
                            // padding: 4px 8px;
                        }
                    }
                }

                .companymeta {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    gap: 6px;
                    white-space: nowrap;

                    @include big4 {
                        width: 100%;
                        flex-direction: row-reverse;
                        align-items: center;
                    }

                    .status {
                        color: #0A3405;
                        text-align: center;
                        font-family: 'Inter';
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 18px;
                        border-radius: 24px;
                        border: 0.618px solid #136809;
                        background: #FFF;
                        padding: 4px 8px;
                    }

                    .date {
                        color: #404040;
                        text-align: center;
                        font-family: 'Inter';
                        font-size: 13px;
                        font-weight: 500;
                        line-height: 22px;
                    }
                }
            }
        }
    }
}

.editorbottom {
    position: sticky;
    width: 100%;
    bottom: 0;
    background: #fff;
    padding: 24px 0;
}

.greywrapper {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px 0 0 0;
    margin: 12px 0 0;
    flex-wrap: wrap;

    .greybadge {
        padding: 2px 8px;
        background: #D6D5D7;
        font-size: 12px;
        color: #000;
        border-radius: 12px;
    }
}

.graybadge {
    padding: 2px 8px;
    background: #D6D5D7;
    font-size: 12px;
    color: #000;
    border-radius: 12px;
}

.upgradelistbg {
    background-image: url('../../../assets/images/upgradeimage.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;

    .contactsaletitle {
        color: #000;
        text-align: center;
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }
}