@import '../../../assets/styles/variables.scss';

.companynameheader {
    max-width: 987px;
    margin: auto;
    @include big4{
        max-width: 100%;
    }

    .topbarheader {
        padding: 14px 22px;
        display: flex;
        align-items: flex-start;
        gap: 8px;

        .topbarleft {
            width: 24px;
            height: 24px;
            min-width: 24px;
            img{
                cursor: pointer;
            }
        }

        .topbarright {
            .titleblock {
                color: #000;
                font-family: 'Inter';
                font-size: 22px;
                font-weight: 600;
                line-height: 28px;
            }

            .subtitle {
                color: #000;
                font-family: 'Inter';
                font-size: 13px;
                font-weight: 400;
                line-height: 18px;
            }
        }
    }

    .callreviewblock {
        display: flex;
        justify-content: space-between;
        width: 798px;
        margin: auto;
        padding: 14px;

        .callreviewleft {
            width: 50%;
            padding-right: 40px;

            .summary {
                margin: 0 0 1rem;
                padding: 0 0 0rem;
                border-radius: 8px;

                .quicksummary {
                    color: #000;
                    font-family: 'Inter';
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 26px;

                    &.quicksummaryp {
                        font-weight: 400;
                    }
                }

                h4 {
                    font-weight: 600;
                    margin-bottom: 13px;
                }

                p {
                    font-size: 14px;
                    line-height: normal;
                    text-align: left;
                }
            }

            .content {
                grid-template-columns: 1.5fr 1fr;
                gap: 1.5rem;

                .videoSection {
                    display: flex;
                    flex-direction: column;
                    gap: 0.8rem;

                    audio {
                        width: 100%;
                        border-radius: 10px;
                        border: 1px solid transparent;
                    }

                    video {
                        width: 100%;
                        border-radius: 10px;
                        // height: 50px;
                        border: 1px solid transparent;
                    }

                    .controls {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 6px 0 13px;

                        .autoscrollToggle {
                            color: #000;
                            font-family: 'Inter';
                            font-size: 13px;
                            font-weight: 500;
                            line-height: 18px;
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            margin: 0;
                            input {
                                width: 14px;
                                height: 14px;
                                margin: 0;
                            }
                        }


                        .transcriptysl {
                            display: flex;
                            align-items: center;
                            gap: 21px;
                        }

                        label {
                            font-size: 0.9rem;
                            display: flex;
                            align-items: center;
                            gap: 13px;
                            margin: 0;
                            flex-direction: row-reverse;
                        }

                        .sentiment {
                            display: flex;
                            align-items: center;
                            gap: 13px;

                            span {
                                color: #000;
                                font-family: 'Inter';
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 21px;
                            }

                            .score {
                                background: #e6ffe6;
                                color: #009900;
                                font-weight: 600;
                                padding: 0.2rem 0.5rem;
                                border-radius: 8px;
                            }
                        }
                    }
                }

                .transcripts {
                    background: #fafafa;
                    border-radius: 8px;
                    padding: 1rem;
                    overflow-y: auto;
                    max-height: 400px;

                    h4 {
                        margin-bottom: 0.8rem;
                        font-weight: 600;
                    }

                    .list {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                    }

                    .item {
                        .meta {
                            display: flex;
                            justify-content: space-between;
                            font-size: 0.85rem;
                            color: #555;

                            .metaprofi {
                                display: grid;
                            }
                        }

                        p {
                            font-size: 0.9rem;
                            line-height: 1.4;
                            color: #333;
                            word-wrap: break-word;
                        }
                    }
                }
            }
        }

        .callreviewright {
            width: 50%;
            background: #f5f5f5;
            border-radius: 12px;

            .transcripty {
                color: #000000;
                font-size: 16px;
                padding: 16px;
                font-family: 'Inter';
                font-size: 18px;
                font-weight: 600;
                line-height: 24px
            }

            .list {
                max-height: calc(100vh - 420px);
                overflow-y: auto;
                padding: 12px 16px;
            }

            .item {
                border-radius: 8px;
                padding: 6px;
                cursor: pointer;
                transition: background 0.2s ease;

                &:hover {
                    background: #ececec;
                }

                &.activeItem {
                    background: #e8f2ff;
                }
            }

            .metaavatar {
                display: flex;
                align-items: flex-start;
                gap: 16px;
                margin: 0rem 0rem 1rem;
                flex-direction: row-reverse;
                justify-content: space-between;

                span {
                    color: #828385;
                    font-family: 'Inter';
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 17px;
                }

                .metaprofi {
                    display: flex;
                    align-items: flex-start;
                    gap: 13px;

                    .spanvatar {
                        color: #fff;
                        display: flex;
                        align-items: center;
                        gap: 13px;
                        width: 20px;
                        height: 20px;
                        min-width: 20px;
                        justify-content: center;
                        background-color: #653AE0;
                        border-radius: 0 5px;
                        font-size: 8px;
                    }

                    .msgagent {
                        display: grid;
                        align-items: flex-start;
                        justify-content: flex-start;
                        gap: 5px;

                        .agentheader {
                            color: #000;
                            font-family: 'Inter';
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 25px;
                        }

                        .plansubtitle {
                            color: var(--Colors-Essentials-Text-Sub-Title, #757676);
                            font-family: 'Inter';
                            font-size: 13px;
                            font-weight: 500;
                            line-height: 22px;
                        }
                    }
                }

                .hourwellse {
                    display: grid;
                    gap: 13px;
                    align-items: flex-start;

                    p {
                        color: #757676;
                        font-family: 'Inter';
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 21px;
                        margin: 0rem;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}
