.inbox {
    background: $bg-white;
    height: calc(100vh - 60px);

    .topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .tabs {
        display: flex;
        gap: 8px;
        align-items: center;
        padding: 16px 24px 12px;
        border-bottom: 0.6px solid #d2d3d4;

        @include big4 {
            padding: 16px 12px 12px;
            gap: 8px;
        }

        .tab {
            border: $border;
            background: $bg-white;
            border-radius: 6px;
            cursor: pointer;
            padding: 6px;
        }
    }
}

.body {
    display: grid;
    grid-template-columns: 386px 1fr 290px;
    border-radius: 13px;
    border: $border;
    background: #FFF;
    margin: 16px;
    margin-top: 0px;

    &.norightside {
        grid-template-columns: 386px 1fr;

        .contact {
            display: none;
        }
    }
}


.leftcontainer {
    border-right: $border;
    height: 100%;

    .header {
        border-bottom: $border;
        display: flex;
        justify-content: space-between;
        height: 45px;

        .rightend {
            height: auto !important;
        }
    }

    .rightend {
        display: flex;
        justify-content: space-between;
        height: 45px;

        &.noht {
            height: auto !important;
        }

        .checkboxdiv {
            display: flex;
            align-items: center;
            gap: 8px;
            color: #0B0B10;

            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            cursor: pointer;

            input {
                width: 14px;
                height: 14px;
                min-width: 14px;
                min-height: 14px;
                margin: 0;
            }
        }
    }

    .rightend {
        display: flex;
        gap: 6px;
        align-items: center;

        img {
            cursor: pointer;
        }

        .iconclickpoint {
            width: 32px;
            height: 32px;
            display: grid;
            place-items: center;
            cursor: pointer;

            &:hover {
                border-radius: 100px;
                background: #C9C9CF;
            }
        }
    }

    .greycontainerwrapper {
        background: $greybg;
        padding: 12px 0 0 0;
        height: calc(100vh - 198px);
        border-radius: 0 0 0 12px;
        overflow-y: scroll;

        &.hassearchfield {
            height: calc(100vh - 243px) !important;
        }
    }

    .trashInfoBox {
        margin: 0 12px 12px 12px;
        border-radius: 12px;
        border: 1px solid #d2d3d4;
        background: #efeff1;
        color: #4b4b4f;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        padding: 10px 12px;
    }

    .greycontainer {

        margin-bottom: 12px;

        &:last-child {
            margin-bottom: 0px;
        }

        .datebox {
            padding: 0 0 12px 12px;
            display: flex;
            gap: 8px;
            align-items: center;
            font-size: 14px;
            cursor: pointer;
        }

        .item {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 8px;
            background: #fff;
            border-bottom: $border;
            border-radius: 0 6px 0 0;
            cursor: pointer;


            &:last-child {
                border-bottom: none;
                // border-radius: 0 6px 0 12px;
            }

            .top {
                width: 100%;
                display: flex;
                justify-content: space-between;

                .leftwithcheckbox {
                    display: flex;
                    gap: 8px;
                    align-items: flex-start;

                    .checkboxdiv {
                        width: 28px;
                        height: 28px;
                        min-width: 28px;
                        min-height: 28px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        display: none;

                        input {
                            width: 14px;
                            height: 14px;
                            min-width: 14px;
                            min-height: 14px;
                            margin: 0;
                            cursor: pointer;
                        }
                    }

                    .namewithcontent {
                        display: flex;
                        gap: 6px;
                        flex-direction: column;

                        .draftText {
                            color: #C73E32;
                        }
                    }
                }

                .rightend {
                    display: flex;
                    gap: 24px;
                    align-items: baseline;

                    .namewithdot {
                        display: flex;
                        align-items: center;
                        flex-direction: row-reverse;
                        gap: 8px;
                        white-space: nowrap;

                        .timespan {
                            font-size: 12px;
                        }

                        .reddot {
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background: #7423D7;
                        }
                    }
                }
            }

            .contentinner {
                width: calc(100% - 40px);
                position: relative;
                left: 15px;
                word-break: break-word;
            }

            &.active {
                background: $greybg;
                border-left: 3px solid #000;
                border-radius: 0px !important;
                padding-left: 9px;

                // .whenselectediconsec{
                //     display: flex;
                // }
                .leftwithcheckbox {
                    img {
                        display: none;
                    }

                    .checkboxdiv {
                        display: flex;
                        align-items: center;
                    }

                }
            }

            &.selected {
                background: $greybg;
                border-radius: 0px !important;

                .leftwithcheckbox {
                    img {
                        display: none;
                    }

                    .checkboxdiv {
                        display: flex;
                        align-items: center;
                    }
                }
            }

            &:hover {
                background: $greybg;

                border-radius: 0px !important;

                .whenselectediconsec {
                    display: flex;
                }

                .namewithdot {
                    display: none !important;
                }

                .leftwithcheckbox {
                    img {
                        display: none;
                    }

                    .checkboxdiv {
                        display: flex;
                        align-items: center;
                    }

                }

            }
        }
    }
}

.contact {
    border-left: $border;

    .hidendshowbox {
        border-bottom: $border;
        padding-bottom: 12px;
        margin-bottom: 16px;

        &.card {
            .headerrr {
                margin-bottom: 18px;
                display: flex;
                justify-content: space-between;

                h5 {
                    font-size: 13px;
                }
            }
        }

    }

    .header {
        border-bottom: 1px solid #d2d3d4;
        padding: 10.5px 12px;
        height: 45px;
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .subcontent {
            font-weight: 600;
        }
    }

    .bodyinner {

        &:first-child {
            padding-top: 4px;
        }

        .block {
            display: flex;
            gap: 4px;
            flex-direction: column;

            &:last-child {
                margin-bottom: 0px;
            }

            label {
                font-size: 13px;
                color: #757676;
            }

            h5 {
                font-size: 14px;
                word-break: break-word;
            }
        }

        .expandsec {
            display: flex;
            justify-content: space-between;
            border-bottom: $border;
            padding-bottom: 16px;
            cursor: pointer;


            &.none {
                border-bottom: none !important;
                padding-bottom: 0px !important;
            }

            .lefts {
                display: flex;
                gap: 12px;
                align-items: center;
                font-weight: 600;
                font-size: 14px;

                span {
                    display: grid;
                    cursor: pointer;
                }
            }



        }
    }
}

.mail {
    .header {
        border-bottom: $border;
        padding: 8px 12px;
        display: flex;
        align-items: center;
        gap: 8px;

        .lefts {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        &.headerhavelefts {
            justify-content: space-between;

        }

        .subcontent {
            font-weight: 600;
        }
    }

    .bodyinner {
        height: calc(100vh - 198px);
        overflow: auto;

        .fullviewofemail {
            background: $greybg;
            padding: 12px;
            border-radius: 12px;

            &:last-child {
                margin-bottom: 0px;
            }

            .emailcontent {
                a{
    white-space: normal !important;
  }
                strong {
                    font-size: unset;
                    line-height: normal;
                }

                word-break: break-word !important;
                white-space: pre-wrap !important;
                overflow-wrap: break-word !important;

                pre {
                    white-space: pre-wrap !important;
                    overflow-wrap: break-word !important;
                }

                strong {
                    font-size: unset;
                    line-height: normal;
                }

                p {

                    word-break: break-word;
                }

                h5 {
                    margin-bottom: 36px;
                    margin-top: 16px;
                    word-break: break-word;
                }
                .methodstooltip{
                        padding: 8px 12px;
                        border-radius: 6px;
                        display: flex;
                        gap: 8px;
                        z-index: 1000;
                        position: relative;
                        border-radius:  8px;
                        border:  0.6px solid  #C9C9CF;
                        background: #FFF;
                        box-shadow: 0 4px 8px -2px rgba(102, 84, 78, 0.10);
                        height: 44px;
                        &.listshowicon{
                            // visibility: hidden;
                            background-color: transparent;
                            box-shadow: none;
                            border: none;
                        }
                        .iconcontent{
                            color: #000;
                            text-align: center;
                            font-family: 'Inter';
                            font-size: 13px;
                            font-weight: 500;
                            line-height: 18px;
                            display: flex;
                            align-items: center;
                            gap: 4px;
                        }
                        .mainmenu{
                            position: relative;
                            display: flex;
                            align-items: center;
                            .resultbox{
                                .resultleft{
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    width: 442px;
                                    height: 44px;
                                    .iconcontent{
                                        width: 50%;
                                        gap:6px;
                                    }
                                }
                                .resultright{
                                    width: 50%;
                                    display: flex;
                                    justify-content: flex-end;
                                    gap: 6px;
                                    img{
                                        cursor: pointer;
                                    }
                                    button{
                                        background-color: #fff;
                                        color: #000;
                                        border: 0.6px solid #C9C9CF;
                                    }
                                }
                            }
                        }
                        .rephraselist{
                                // position: absolute;
                                top: 100%;
                                left: 0;
                                // margin-top: 8px;
                                background: #fff;
                                border: 1px solid #ddd;
                                border-radius: 8px;
                                padding: 8px 0px;
                                box-shadow: 0 4px 10px rgba(0,0,0,0.1);
                                min-width: 200px;
                                .iconlistphrase{
                                    display: flex;
                                    align-items: center;
                                    gap: 4px;
                                    padding: 6px 16px;
                                    cursor: pointer;
                                    &:hover{
                                        background-color: #F0F1F2;
                                    }
                                }
                        }
                }
            }

            .expandsec {
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                flex-wrap: wrap-reverse;
                gap: 8px;

                .lefts {
                    display: flex;
                    gap: 12px;
                    align-items: center;
                    font-weight: 600;
                    font-size: 13px;

                    span {
                        display: grid;
                    }

                    .chevrondown {
                        cursor: pointer;
                    }
                }

                .rights {
                    color: #757676;
                    font-size: 12px;
                    font-weight: 500;
                }
            }

            .avatorwithactions {
                display: flex;
                justify-content: space-between;

                .lefts {
                    display: flex;
                    gap: 12px;

                    .namewithact {
                        display: flex;
                        flex-direction: column;
                        gap: 6px;
                        position: relative;

                        .dtls {
                            color: #575CFF;
                            cursor: pointer;
                            font-size: 13px;
                            display: flex;
                            align-items: center;
                            gap: 6px;
                        }
                    }
                }

                .rights {

                    display: flex;
                    gap: 16px;

                    .actions {
                        display: flex;
                        gap: 6px;
                        cursor: pointer;

                        img {
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
            }

            .avatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: $secondary;
                color: #fff;
                display: grid;
                place-items: center;
            }
        }
    }
}

.badge {
    border-radius: 24px;
    width: fit-content;
    padding: 2px 8px;
    font-size: 13px;

    &.green {
        border: 0.618px solid #136809;
        background: linear-gradient(180deg, #FFF 25%, #F2F2F2 100%);
    }

}

.filterstop {
    width: 100%;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;

    button {
        min-height: 38px;
        display: flex;
        align-items: center;
        gap: 4px;
        color: #FFF;
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        margin-right: 16px;
    }
}

.filters {
    display: flex;
    gap: 8px;
    align-items: center;


    .filterchip {
        padding: 6px 12px;
        border-radius: 8px;
        border: 1px solid #ededed;
        font-size: 13px;
        cursor: pointer;
        color: #0B0B0B;
        text-align: center;
        font-family: 'Inter';
        font-weight: 400;
        line-height: 16px;

        &.active {
            border-radius: 8px;
            border: 0.6px solid #3A3A3A;
            background: #F3F3F3;
        }
    }
}

.bodyinnercontainer {
    height: calc(100vh - 198px);
    overflow-y: auto;

    .bodyinner {
        &:last-child {
            .hidendshowbox {
                border-bottom: none;
            }

            .expandsec {
                border-bottom: none;
            }

        }
    }

}

.contactwindow {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;

    .replayall {
        display: inline-flex;
        align-items: center;
        gap: 4px;
        margin-right: 16px;
    }
}

.replayimg {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    padding: 2px 8px;
    border-radius: 6px;
    background: #EDEDED;
    cursor: pointer;
    width: fit-content;

    &:hover {
        background: #DDDDDD;
    }
}

.quotedthread {
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid #E5E5EA;

    .quotedmsg {
        margin-bottom: 16px;
        font-size: 13px;
        color: #5F6368;

        &:last-child {
            margin-bottom: 0;
        }

        .quotedheader {
            margin-bottom: 6px;
            font-size: 13px;
            line-height: 18px;
            color: #5F6368;
        }

        .quotedbody {
            word-break: break-word;
            white-space: pre-wrap;
            overflow-wrap: break-word;
            font-size: 13px;
            line-height: 18px;
            padding-left: 12px;
            border-left: 2px solid #C9C9CF;
            color: #5F6368;
        }
    }
}

.calllists {
    max-height: 200px;
    overflow: auto;

    .list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px 12px;

        .lefts {
            display: flex;
            align-items: center;
            gap: 8px;

            .avatorcontainer {
                min-width: 32px;
                min-height: 32px;
                display: grid;
                place-items: center;
                width: 32px;
                height: 32px;
                color: #FFF;
                text-align: center;
                font-size: 14px;
                font-weight: 600;
                border-radius: 50%;
                background-color: #575CFF;
                line-height: normal;
            }

            .info {
                display: flex;
                flex-direction: column;
                gap: 3px;

                .name {
                    color: var(--clr-text-primary, #0B0B10);
                    font-size: 14px;
                    font-weight: 600;
                }

                .phn {
                    color: var(--clr-text-secondary, #3F3F49);
                    font-size: 10px;
                    font-weight: 400;

                }
            }
        }

        .rights {
            width: 38px;
            height: 38px;
            display: grid;
            place-items: center;
        }
    }
}

.searchheader {

    justify-content: flex-start !important;
    align-items: center;
    gap: 12px;

    .wrapper {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;

        .namewithcancelbadge {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 16px;
            gap: 8px;
            line-height: normal;
            width: fit-content;

            span {
                display: grid;
            }

            .lefts {
                display: flex;
                align-items: center;
                gap: 4px;
            }

            border: 0.6px solid #D2D3D4;
            background: var(--true-black-50, #F8F8F8);
            padding: 4px 6px;
        }
    }
}

.searchBox {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 8px;

    img {
        width: 18px;
        opacity: 0.6;
    }

    input {
        flex: 1;
        border: none;
        outline: none;
        font-size: 14px;
        border: none;
        outline: none;
        font-size: 14px;
    }
}

.whenselectediconsec {
    display: flex;
    align-items: center;
    gap: 10px;
    display: none;

    span {
        width: 24px;
        height: 24px;
        display: grid;
        place-items: center;
    }
}

.replyeditor {
    border-radius: 16px 16px;
    padding: 16px;
    min-height: 300px;
 background: #F8F8F8;;

   .avatorwithactions {
                display: flex;
                justify-content: space-between;
    margin-bottom: 12px;
    align-items: center;

                .lefts {
                    display: flex;
                    gap: 12px;
                    align-items: center;
                    width: 100%;
                     .avatar {
                            background: #575CFF;
                            cursor: pointer;
                            font-size: 13px;
                            display: flex;
                            align-items: center;
                            gap: 6px;
                          
                            width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #7423d7;
    color: #fff;
    display: grid;
    place-items: center;

                        }

                    .namewithact {
                        display: flex;
                       align-items: center;
                        gap: 6px;

                       span{
color: #505050;

font-size: 12px;
font-style: normal;
font-weight: 400;

                       }
                    }
                }

               
            }
    background: #F8F8F8;
    ;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    border-top: 1px solid #eee;
    position: sticky;
    bottom: 0;
    background: #fff;
}

/* Footer icons */
.leftActions {
    display: flex;
    gap: 16px;

    img {
        width: 18px;
        cursor: pointer;

    }
}

/* Buttons */
.rightActions {
    display: flex;
    gap: 12px;
}

.suggestionboxai {
    width: 534px;
    position: absolute;

    bottom: 40px;
    background: #fff;
    border: 1px solid #d2d3d4;
    border-radius: var(--Radius-space-radius-medium, 12px);
    border: var(--border-border-small, 0.6px) solid var(--Border-c-border-default, #C9C9CF);
    background: var(--Full-White, #FFF);

    /* Shadow.md */
    box-shadow: 0 8px 24px -4px rgba(102, 84, 78, 0.14);
    display: flex;
    flex-direction: column;

    .dynamiccontentblock {
        height: 120px;

        @media (max-height: 670px) {
            height: 80px;
        }


        padding: 8px;
        overflow: auto;
        background: #fff;
        border: 1px solid #d2d3d4;
        border-radius: var(--Radius-space-radius-medium, 12px);
        border: var(--border-border-small, 0.6px) solid var(--Border-c-border-default, #C9C9CF);
    }

    .dynamicsubjectblock {
        height: 30px;
        padding: 8px;
        margin-bottom: 12px;
        overflow: auto;
        background: #fff;
        border: 1px solid #d2d3d4;
        border-radius: var(--Radius-space-radius-medium, 12px);
        border: var(--border-border-small, 0.6px) solid var(--Border-c-border-default, #C9C9CF);
    }

    .geninptblock {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .inputwithbutton {
            display: flex;
            gap: 12px;
            align-items: center;
        }

        input {
            width: 100%;
            border-radius: var(--Radius-space-radius-medium, 12px);
            border: var(--border-border-small, 0.6px) solid var(--Border-c-border-default, #C9C9CF);
            background: var(--Elements-c-element-bg-on-default, #FFF);
            padding: 8px 12px;
        }
    }

    .sliderblck {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;

        .leftrightchevrons {
            display: flex;
            gap: 12px;
            align-items: center;
            line-height: 24px;

            span {
                display: grid;
                width: 24px;
                display: grid;
                place-items: center;
                height: 24px;
                cursor: pointer;
            }
        }
    }

    .header {
        justify-content: space-between;
        padding: 12px;

        .lefts {
            display: flex;
            gap: 8px;
            align-items: center;
            display: flex;
            gap: 8px;
            align-items: center;
            color: var(--Text-color-text-primary, #0B0B0B);
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 161.8%;

            img {
                width: 24px !important;
            }
        }
    }

    .body {
        flex: 1;

        @media (max-height: 670px) {
            height: 203px;
            overflow: auto;
            flex: unset !important;
        }

        @media (max-height: 590px) {
            height: 140px;

        }
    }

    .footer {
        width: 100%;
        border-top: 1px solid #d2d3d4;
        border-radius: 0 0 12px 12px;
        padding: 12px;
        display: flex;
        justify-content: end;
    }
}

.btncontainer {
    display: flex;
    gap: 12px;
    justify-content: end;

    button {

        border: 1px solid #C9C9CF;
        background: #FFF;
        color: #000;
        padding: 4px 12px;
        gap: 8px;

        &:nth-child(2) {
            background-color: #000;
            color: #fff;
        }

    }

}

.aiwritebtn {
    border-radius: var(--Radius-space-radius-regular, 8px);
    gap: 8px;
    border: none;
    color: #000;
    background: var(--Background-c-bg-surface-ultralight, #ffffff);

    &.active {
        background: var(--Background-c-bg-surface-ultralight, #F4F4F6);
    }
}

.checkboxdivinpt {
    input {
        width: 28px !important;
        height: 28px !important;
    }

}

.counterspan {
    text-align: center;
    border-radius: 14px;
    left: 8px;
    top: -6px;
    font-size: 11px;
    background-color: #DE003D;
    color: #fff;
    padding: 2px 4px;
    min-width: 18px;
}

.imghidden{
    visibility: hidden;
    width: 28px;
    height: 28px;
}

.calllists {
    max-height: 200px;
    overflow: auto;

    .list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px 12px;

        .lefts {
            display: flex;
            align-items: center;
            gap: 8px;

            .avatorcontainer {
                min-width: 32px;
                min-height: 32px;
                display: grid;
                place-items: center;
                width: 32px;
                height: 32px;
                color: #FFF;
                text-align: center;
                font-size: 14px;
                font-weight: 600;
                border-radius: 50%;
                background-color: #575CFF;
                line-height: normal;
            }

            .info {
                display: flex;
                flex-direction: column;
                gap: 3px;

                .name {
                    color: var(--clr-text-primary, #0B0B10);
                    font-size: 14px;
                    font-weight: 600;
                }

                .phn {
                    color: var(--clr-text-secondary, #3F3F49);
                    font-size: 10px;
                    font-weight: 400;

                }
            }
        }

        .rights {
            width: 38px;
            height: 38px;
            display: grid;
            place-items: center;
        }
    }
}