

.titlearea {
    padding: 24px 0;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.yourinfo {
    max-width: 780px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;

    .desc {
        color: #404040;
        font-size: 13px;
        line-height: 21px;
    }

    .titlearea {
        display: flex;
        flex-direction: column;

        .title {
            color: #000;
            font-size: 21px;
            line-height: 27px;
        }

        .desc {
            color: #404040;
            font-size: 13px;
            line-height: 21px;
            font-family: 'Inter';

            a {
                color: #575CFF;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .productmain {
        display: inline-grid;
        gap: 24px;
        // grid-template-columns: repeat(2, 1fr);
        margin: 0 0 24px;
        width: 100%;

        .productblock {
            border-radius: 16px;
            border: 1px solid var(--Colors-Black-Black-200, #E3E4E5);
            background: var(--Colors-Black-White, #FFF);
            padding: 24px;
            display: flex;
            flex-direction: column;
            gap: 32px;

            .top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 12px;

                .left {
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    .devicename {
                        display: flex;
                        flex-direction: column;
                        gap: 4px;
                        color: #000;
                        font-size: 16px;
                        line-height: 21px;

                        .deviceproduct {
                            display: flex;
                            align-items: center;
                            gap: 8px;

                            span {
                                color: #0A3405;
                                font-family: 'Inter';
                                font-size: 13px;
                                font-style: normal;
                                line-height: 17px;
                                border-radius: 24px;
                                border: 0.618px solid #136809;
                                background: #FFF;
                                padding: 3px 8px;
                            }
                        }

                        span {
                            color: var(--Colors-Essentials-Text-Sub-Title, #757676);
                            font-size: 12px;
                            line-height: 16px;
                        }
                    }
                }

                .right {
                    button {
                        color: #000000;
                        width: auto;
                        border-radius: 11px;
                        border: 0.6px solid #BFBFBF;
                        background: var(--Colors-Black-White, #FFF);
                        height: 44px;
                        font-size: 16px;
                        font-family: 'Inter';
                    }

                    .bottomslide {
                        border-radius: 24px;
                        border: 0.618px solid #575CFF;
                        background: #FFF;
                        color: #2C2E80;
                        font-family: 'Inter';
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 18px;
                        padding: 0 16px;
                        max-height: 24px;
                    }
                }
            }

            .bottom {
                display: grid;
                gap: 16px 24px;
                grid-template-columns: repeat(2, 1fr);
                border-top: 1px solid #BFBFBF;
                padding-top: 26px;
                @include big5{
                    grid-template-columns: repeat(1, 1fr);
                }

                .fieldareamain {
                    display: flex;
                    // flex-direction: column;
                    align-items: flex-start;
                    gap: 6px;

                    .label {
                        color: #000000;
                        font-size: 14px;
                        line-height: 19px;
                    }

                    .value {
                        color: #000;
                        font-size: 14px;
                        line-height: 21px;
                        font-family: 'inter';
                        word-break: break-word;
                    }
                }
            }
        }
    }
}