.createmaincontainer {
    max-width: 798px;
    margin: auto;

    .breadcrumb {
        display: flex;
        align-items: center;
        gap: 12px;

        p {
            color: #212121;
            font-size: 14px;
            line-height: 22px;

            display: flex;
            align-items: center;
            gap: 12px;
        }

        h3 {
            color: #212121;
            font-size: 14px;
            line-height: 22px;
        }
    }

    .headerole {
        padding: 24px 0;
        background: #fff;
        position: sticky;
        top: 0;
        z-index: 99;

        h3 {
            color: #000000;
            font-size: 20px;
            line-height: 28px;

        }

        p {
            color: #404040;
            font-size: 12px;

            line-height: 22px;
            margin: 0;
        }
    }

    .createroleblock {
        .rolename{
        &:nth-child(1){
                padding-top: 0;
            }
        }

        .rolename {
            width: 100%;
            padding: 16px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #BFBFBF;


            .administratormodule {
                width: 100%;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                gap: 6px;
                 .accesstitle {
                    color: #000;
                    font-size: 14px;
                    line-height: 32px;
                    color: #000;

                    font-size: 18px;
                    font-style: normal;
                    line-height: 23px;
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    span {
                        color: #804680;
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 18px;
                        border-radius: 24px;
                        border: 0.618px solid #FF8BFF;
                        background: #FFF;
                        max-height: 24px;
                        padding: 2px 8px;
                    }
                }
            }

            span {
                color: #404040;
                text-align: right;
                font-family: Inter;
                font-size: 13px;
                font-style: normal;
                line-height: 21px;
            }

            p {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: #404040;
                font-family: 'Inter';
                font-size: 13px;
                font-style: normal;
                line-height: 21px;
            }

            .label {
                color: #000;
                font-size: 14px;
                line-height: 32px;
                color: #000;
                font-family: 'Inter';
                font-size: 18px;
                font-style: normal;
                line-height: 23px;

                span {
                    color: #F22E57;
                }
            }

                .labeltext{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: #404040;
                    font-family: 'Inter';
                    font-size: 13px;
                    font-style: normal;
                    line-height: 21px;
                }
            

            input {
                font-family: 'inter';
            }

            textarea {
                border-radius: 6px;
                border: 1px solid #BFBFBF;
                background: #FFF;
                max-height: 144px;
                font-family: 'inter';
                padding: 12px;
            }
        }

        .btnblock {
            display: flex;
            align-items: center;
            gap: 14px;
            padding: 34px 0 0;

            button {
                height: 38px;
                border-radius: 14px;
                width: fit-content;
                font-family: 'inter';

                &:nth-child(1) {
                    color: #212121;
                    border-radius: 13px;
                    border: 1px solid #BFBFBF;
                    background: #FFF;
                    font-size: 14px;
                    padding: 8px 16px;

                    &:hover {
                        background-color: #d5d5d5b7 !important;
                    }
                }

                &:nth-last-child(1) {
                    background-color: #00E2A4;
                    border: 1px solid #00E2A4;
                    min-width: 89px;
                    padding: 8px 16px;
                    font-size: 14px;
                }
            }
        }
    }
}

.nodatacontainer {
    width: 100%;
    display: flex;
    place-items: center;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .nodatabox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;

        img {
            width: 160px;
        }
    }

    .connected {
        display: flex;
        align-items: center;
        gap: 4px;
        justify-items: center;
        flex-direction: column;

        .callstitle {
            color: #212121;
            font-family: 'Inter';
            font-size: 20px;
            font-weight: 600;
            line-height: 27px;
        }

        .callmessage {
            color: #757576;
            font-family: 'Inter';
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
        }
    }
}