.rolesmaincontainer {
    .headeroles {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0 16px;

        .headerleft {
            h3 {
                color: #000000;
                font-size: 20px;
                line-height: 28px;

            }

            p {
                color: #404040;
                font-size: 12px;

                line-height: 22px;
            }
        }

        .headeright {
            display: flex;
            align-items: center;
            gap: 10px;

            button {
                height: 38px;
                border-radius: 14px;
                width: fit-content;


                &:nth-child(1) {
                    color: #212121;
                    border-radius: 13px;
                    border: 1px solid #BFBFBF;
                    background: #FFF;
                    font-size: 14px;
                    min-width: 119px;
                    padding: 8px 16px;

                    &:hover {
                        background-color: #d5d5d5b7 !important;
                    }
                }

                &:nth-last-child(1) {
                    background-color: #7423D7;
                    border: 1px solid #7423D7;
                    min-width: 89px;
                    padding: 8px 16px;
                    font-size: 14px;
                }
            }
        }
    }

    .rolestable {
        .clickabletop {
            color: #0A3405;
            border-radius: 24px;
            border: 0.618px solid #136809;
            background: linear-gradient(180deg, #FFF 25%, #F2F2F2 100%);
            font-size: 12px;
            padding: 4px 8px;
            height: auto;
            width: auto;
            line-height: normal;

            &:hover {
                background-color: #F2F2F2 !important;
            }
        }

        .clickabletopint {
            color: #0A3405;
            border-radius: 24px;
            border: 0.618px solid #DE003D;
            background: linear-gradient(180deg, #FFF 25%, #F2F2F2 100%);
            font-size: 12px;
            padding: 4px 8px;
            height: auto;
            width: auto;
            line-height: normal;
        }

        .rolenameid {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                color: #575CFF;
                font-size: 14px;

                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }

            span {
                cursor: pointer;
                color: #7423D7;
                display: flex;
                align-items: center;
                gap: 4px;
            }
        }
    }
}

.usermanagecontainer {
    .headeroles {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .headerleft {
            h3 {
                color: #000000;
                font-size: 20px;
                line-height: 28px;

            }

            p {
                color: #404040;
                font-size: 12px;

                line-height: 22px;
            }
        }

        .droptop {
            position: relative;

            .dropdownstate {
                border-radius: 13px;
                background: #7423D7;
                display: flex;
                height: 38px;
                min-width: 89px;
                padding: 8px 16px;
                justify-content: center;
                align-items: center;
                width: fit-content;
                cursor: pointer;
            }

            .dropset {
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                border: 1px solid #ccc;
                border-radius: 12px;
                background-color: #fff;
                margin-top: 4px;
                z-index: 99;
                min-width: 116px;
                white-space: nowrap;
                overflow: hidden;

                div {
                    color: #3E3F40;
                    font-size: 14px;
                    padding: 10px;
                    cursor: pointer;
                    border-bottom: 1px solid #eee;
                }
            }
        }

        .headeright {
            display: flex;
            align-items: center;
            gap: 10px;

            button {
                height: 38px;
                border-radius: 14px;


                &:nth-child(1) {
                    color: #212121;
                    border-radius: 13px;
                    border: 1px solid #BFBFBF;
                    background: #FFF;
                    font-size: 14px;
                    min-width: 119px;
                    padding: 8px 16px;
                }

                &:nth-last-child(1) {
                    background-color: #7423D7;
                    border: 1px solid #7423D7;
                    min-width: 89px;
                    padding: 8px 16px;
                    font-size: 14px;
                }
            }
        }
    }

    .userfilte {
        padding: 22px 0 16px;
        display: flex;
        align-items: center;
        gap: 20px;

        input {
            border-radius: 14px;
            border: 1px solid #BFBFBF;
            background: #FFF;
            width: 233px;

            height: 38px;
            padding: 0 16px;
        }

        button {
            color: #757676;
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 14px;
            height: 38px;
            border-radius: 14px;
            border: 1px solid #BFBFBF;
            background: #FFF;
            padding: 4px 12px;
            width: fit-content;


            &:hover {
                background: #FFF !important;
            }
        }

        p {
            margin: 0;
        }
    }

    .userfilteblock {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .userfilte {
            &:nth-child(2) {
                button {
                    display: block !important;
                }
            }
        }
    }

    .rolestable {
        .clickabletop {
            color: #0A3405;
            border-radius: 24px;
            border: 0.618px solid #136809;
            background: linear-gradient(180deg, #FFF 25%, #F2F2F2 100%);
            font-size: 12px;
            padding: 4px 8px;
            font-family: 'intermedium';
            height: auto;
            width: auto;
            line-height: normal;

            &:hover {
                background-color: #F2F2F2 !important;
            }
        }

        &.rolestableblock {
            padding: 16px 0;
        }

        .onclickdata {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 12px;
            justify-content: space-between;

            p {
                color: #575CFF;
                font-size: 14px;
                margin: 0;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }

            .actionsfield {
                display: flex;
                align-items: center;
                gap: 8px;

                p {
                    color: #7423D7;
                }
            }
        }

        .clickabletopint {
            color: #0A3405;
            border-radius: 24px;
            border: 0.618px solid #DE003D;
            background: linear-gradient(180deg, #FFF 25%, #F2F2F2 100%);
            font-size: 12px;
            padding: 4px 8px;
            height: auto;
            width: auto;
            line-height: normal;
        }

        .rolenameid {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                color: #575CFF;
                font-size: 14px;

                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }

            span {
                cursor: pointer;
                color: #7423D7;
                display: flex;
                align-items: center;
                gap: 4px;
            }
        }
    }
}

.createmaincontainer {
    // max-width: 798px;
    // margin: auto;
    padding: 0 0 24px;

    .breadcrumb {
        display: flex;
        align-items: center;
        gap: 12px;

        p {
            color: #212121;
            font-size: 14px;
            line-height: 22px;

            display: flex;
            align-items: center;
            gap: 12px;
        }

        h3 {
            color: #212121;
            font-size: 14px;
            line-height: 22px;
        }
    }

    .rolecontainer {
        height: calc(100vh - 250px);
        overflow-y: auto;

        .rolecontainerinner {
            max-width: 798px;
            margin: auto;
        }
    }

    .headerole {
        padding: 16px 0;
        background: #fff;
        position: sticky;
        top: 0;
        z-index: 99;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;
        max-width: 798px;
        margin: auto;

        h3 {
            color: #000000;
            font-size: 20px;
            line-height: 28px;

        }

        p {
            color: #404040;
            font-size: 12px;

            line-height: 22px;
        }
    }

    .headerolecontainer {
        height: calc(100vh - 250px);
        overflow: auto;

        .sortedLogstitle {
            max-width: 798px;
            margin: auto;
        }
    }

    .usersmaincontainer {
        // height: calc(100vh - 250px);
        // overflow: auto;
    }

    .usersmain {
        width: 100%;
        display: flex;
        align-items: stretch;
        flex-direction: column;
        gap: 22px;
        max-width: 798px;
        margin: auto;

        .usersmaininner {
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding: 13px 21px;
            cursor: pointer;
            align-items: flex-start;
            border-radius: 21px;
            border: 1px solid #E3E4E5;
            background: #FFF;

            .usersmaininnerleft {
                display: flex;
                align-items: center;
                gap: 12px;
                width: 100%;
                border-bottom: 1px solid #E3E4E5;
                padding: 0px 0px 16px;

                .img {
                    width: 55px;
                    height: 55px;
                    border-radius: 50%;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 16px;
                    background: #d2d2d2;
                    font-weight: 600;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .titleusername {
                    display: flex;
                    align-items: center;
                    gap: 14px;
                    width: 100%;
                    justify-content: space-between;

                    .status {
                        border-radius: 24px;
                        border: 0.618px solid #136809;
                        background: var(--Colors-Black-White, #FFF);
                        display: flex;
                        height: 24px;
                        padding: 0 8px;
                        justify-content: center;
                        align-items: center;
                        font-size: 13px;
                        color: #0A3405;

                        &.inactive {
                            border: 0.618px solid #DE003D;
                            background: var(--Colors-Black-White, #FFF);
                            color: #DE003D;
                        }
                    }
                }

                .title {
                    display: flex;
                    align-items: flex-start;
                    gap: 4px;
                    flex-direction: column;
                    width: calc(100% - 65px);

                    .name {
                        color: #000;
                        font-size: 18px;
                        line-height: 24px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        max-width: 240px;
                    }

                    .para {
                        color: #404040;
                        font-size: 14px;
                        line-height: 18px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        width: 240px;
                        color: #1B191D;

                        font-weight: 400;
                        line-height: 26px;
                    }
                }
            }

            .usersmaininnerright {
                display: flex;
                align-items: flex-start;
                gap: 10px;
                flex-direction: column;

                .status {
                    border-radius: 24px;
                    border: 0.618px solid #136809;
                    background: var(--Colors-Black-White, #FFF);
                    display: flex;
                    height: 24px;
                    padding: 0 8px;
                    justify-content: center;
                    align-items: center;
                    font-size: 13px;
                    color: #0A3405;
                }

                .time {
                    color: #404040;
                    font-size: 12px;
                    line-height: 18px;
                    font-weight: 400;
                    display: flex;
                    align-items: baseline;
                    gap: 6px;
                    white-space: nowrap;

                    &.campaigncallinbound {
                        display: flex;
                    }

                    span {
                        color: #1B191D;
                        font-weight: 600;
                        min-width: max-content;
                    }

                    .accessdirection {
                        display: flex;
                        align-items: center;
                        gap: 6px;
                        flex-wrap: wrap;

                        .inboundcall {
                            color: #804680;
                            white-space: nowrap;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 16px;
                            border-radius: 24px;
                            border: 0.618px solid #FF8BFF;
                            background: linear-gradient(180deg, #FFF 25%, #F2F2F2 100%);
                            padding: 2px 6px;
                        }
                    }
                }
            }
        }
    }

    .createroleblock {
        &:nth-child(1) {
            .rolename {
                padding-top: 0;
            }
        }

        .rolename {
            width: 100%;
            padding: 0 0 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #BFBFBF;
            padding-top: 24px;
            padding-bottom: 16px;

            .administratormodule {
                width: 100%;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                gap: 6px;

                .accesstitle {
                    color: #000;
                    font-size: 14px;
                    line-height: 32px;
                    color: #000;
                    font-weight: 500;
                    font-size: 18px;
                    font-style: normal;
                    line-height: 23px;
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    span {
                        color: #804680;
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 18px;
                        border-radius: 24px;
                        border: 0.618px solid #FF8BFF;
                        background: #FFF;
                        max-height: 24px;
                        padding: 2px 8px;
                    }
                }
            }

            span {
                color: #404040;
                text-align: right;
                font-family: Inter;
                font-size: 13px;
                font-style: normal;
                line-height: 21px;
            }

            p {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: #404040;

                font-size: 13px;
                font-style: normal;
                line-height: 21px;
                margin: 0;
            }

            label {
                color: #000;
                font-size: 14px;
                line-height: 32px;
                color: #000;

                font-size: 18px;
                font-style: normal;
                line-height: 23px;

                span {
                    color: #F22E57;
                }

                p {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: #404040;

                    font-size: 13px;
                    font-style: normal;
                    line-height: 21px;
                }
            }

            input {}

            textarea {
                border-radius: 6px;
                border: 1px solid #BFBFBF;
                background: #FFF;
                max-height: 144px;

                padding: 12px;
            }
        }

        .btnblock {
            display: flex;
            align-items: center;
            gap: 14px;
            padding: 34px 0 0;

            button {
                height: 38px;
                border-radius: 14px;
                width: fit-content;


                &:nth-child(1) {
                    color: #212121;
                    border-radius: 13px;
                    border: 1px solid #BFBFBF;
                    background: #FFF;
                    font-size: 14px;
                    padding: 8px 16px;

                    &:hover {
                        background-color: #d5d5d5b7 !important;
                    }
                }

                &:nth-last-child(1) {
                    background-color: #7423D7;
                    border: 1px solid #7423D7;
                    min-width: 89px;
                    padding: 8px 16px;
                    font-size: 14px;
                }
            }
        }
    }
}

.rolesandpermission {

    .headerolemission {
        padding: 16px 0;

        h3 {
            color: #000000;
            font-size: 20px;
            line-height: 28px;

        }

        p {
            color: #404040;
            font-size: 12px;

            line-height: 22px;
        }
    }

    .productdetails {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 16px;
        border: 0.6px solid #D2D3D4;
        background: #F8F9F9;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        padding: 18px 24px;
        // display: grid;
        // grid-template-columns: 1fr 324px 324px 166px;
        align-items: center;
        gap: 12px;
        width: 100%;

        .roleproduct {
            display: grid;
            justify-items: start;
            gap: 4px;
            width: 25%;

            &:nth-child(1) {
                width: 32%;
            }

            &:nth-last-child(1) {
                width: 18%;
            }

            p {
                color: #000000;
                font-size: 14px;

                line-height: 18px;
            }

            h3 {
                color: #000000;
                font-size: 16px;

            }

            button {
                min-width: 79px;
                color: #575CFF;
                font-size: 14px;
                border-radius: 13px;
                border: 1px solid #BFBFBF;
                background: #FFF;
                width: fit-content;
                padding: 8px 16px;

                line-height: 34px;

                &:hover {
                    background-color: #fff !important;
                }
            }
        }
    }

    .productdetailssearch {
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
            width: 232px;
            min-height: 38px;
        }

        .configurations {
            ul {
                padding: 0;
                display: flex;
                align-items: center;

                li {
                    list-style: none;
                    color: #000;
                    font-family: 'intermedium';
                    font-size: 16px;
                    line-height: 24px;
                    min-width: 117px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    .accordinblockcontainer {


        .blockcontainer {
            border-bottom: 1px solid #E3E4E5;

            &:nth-child(1) {
                border-top: 1px solid #E3E4E5;
            }
        }

        .accordinheader {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 14px 0;
            cursor: pointer;

            .arrow.open {
                transform: rotate(180deg);
                /* arrow flips */
            }

            h3 {
                color: #000;

                font-size: 18px;
                line-height: 28px;
            }

            svg {
                cursor: pointer;
            }

            img {
                cursor: pointer;
            }
        }

        .accordinwrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 16px;
            padding: 16px 0;

            .accordinleft {
                width: 76%;

                p {
                    color: #000000;
                    font-size: 14px;

                    line-height: 18px;
                }

                h3 {
                    color: #000000;
                    font-size: 16px;

                    line-height: 26px;
                    padding: 0 0 4px;
                }

            }

            .accordinright {
                width: 24%;
                display: flex;
                align-items: center;
                gap: 16px;

                span {
                    min-width: 114px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }


}

.createbtn {
    display: flex;
    align-items: center;
    padding: 16px;
    justify-content: flex-end;
    gap: 14px;

    button {
        height: 38px;
        border-radius: 14px;
        width: fit-content;

        &:nth-child(1) {
            color: #212121;
            border-radius: 13px;
            border: 1px solid #BFBFBF;
            background: #FFF;
            font-size: 14px;
            padding: 8px 16px;
        }

        &:nth-last-child(1) {
            background-color: #7423D7;
            border: 1px solid #7423D7;
            min-width: 89px;
            padding: 8px 16px;
            font-size: 14px;
        }
    }
}

//
.rolehigherarchycontainer {
    padding: 16px;

    .breadcrumb {
        display: flex;
        align-items: center;
        gap: 12px;

        p {
            color: #212121;
            font-size: 14px;
            line-height: 22px;

            display: flex;
            align-items: center;
            gap: 12px;
        }

        h3 {
            color: #212121;
            font-size: 14px;
            line-height: 22px;
        }
    }

    .headerole {
        padding: 16px 0;

        h3 {
            color: #000000;
            font-size: 20px;
            line-height: 28px;

        }

        p {
            color: #404040;
            font-size: 12px;

            line-height: 22px;
        }
    }

    .adminhigherarchy {
        max-width: 528px;

        .higherarchyblock {
            p {
                &:nth-last-child(1) {
                    display: none;
                    display: flex !important;
                }
            }

            .interhigherarc {
                border-radius: 8px;
                border: 1px solid #D2D3D4;
                padding: 12px;

                .higherarchyleft {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 0 16px;

                    h3 {
                        color: #000000;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        font-size: 18px;
                        line-height: 28px;

                    }

                    span {
                        color: #0A3405;
                        border-radius: 24px;
                        border: 0.618px solid #136809;
                        font-size: 12px;
                        background: linear-gradient(180deg, #FFF 25%, #F2F2F2 100%);
                        font-family: 'intermedium';
                        padding: 4px 8px;
                    }
                }

                .higherarchyright {
                    p {
                        color: #404040;
                        font-size: 14px;
                        line-height: 22px;
                        padding: 0;
                    }
                }
            }

            p {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 6px 0;
            }
        }
    }
}

//modal css
.modaloverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    .modalcontent {
        width: 610px;
        background: white;
        // padding: 20px 30px;
        border-radius: 12px;
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
        min-width: 300px;
        max-width: 610px;

        .csvupload {
            text-align: center;
            padding: 6px 0 16px;
        }

        .containerblockindel {
            padding: 0 16px;
            max-height: calc(100vh - 478px);
            overflow: auto;
            scrollbar-width: thin;

            p {
                font-size: 14px;
            }

            .contactcenter {
                p {
                    color: #000000;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    font-size: 14px;

                    padding: 0;
                }
            }

            h3 {
                color: #000000;
                font-size: 16px;
                line-height: 28px;

            }

            ul {
                padding-left: 22px;
                padding-top: 12px;

                li {
                    color: #404040;
                    font-size: 14px;
                    padding: 0 0 12px;
                }
            }

            .csvuploader {
                border-radius: 10px;
                border: 1px dashed #7423D7;
                background-color: #F0FAF7;
                padding: 16px;
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    margin-bottom: 12px;
                }

                h3 {
                    color: #3E3F40;
                    text-align: center;
                    font-size: 16px;

                    span {
                        color: #575CFF;
                        text-align: center;
                        font-size: 16px;
                    }
                }

                p {
                    color: #757676;
                    text-align: center;
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }


        .header {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px;

            h3 {
                color: #000000;
                font-size: 20px;
                line-height: 28px;

            }

            svg {
                width: 12px;
                min-width: 12px;
                height: 12px;
                cursor: pointer;
            }

            p {
                color: #404040;
                font-size: 12px;
                line-height: 22px;

                padding: 0 0 4px;
            }

            .csvfile {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 12px 0 0;

                .downloadsamp {
                    p {
                        color: #575CFF;
                        display: flex;
                        align-items: center;
                        font-size: 14px;
                        line-height: 22px;

                        gap: 8px;
                    }
                }
            }
        }

        .csvfile {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 0 0;

            .downloadsamp {
                p {
                    color: #575CFF;
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    line-height: 22px;

                    gap: 8px;
                }
            }

        }

        .btn {
            display: flex;
            align-items: center;
            gap: 16px;
            padding: 16px;

            .btndel {
                color: #FFFFFF;
                background-color: #DE003D !important;
                border: 1px solid #DE003D !important;
                padding: 8px 16px;
                font-size: 14px;

            }

            button {
                height: 38px;
                border-radius: 14px;
                width: fit-content;


                &.canelbtn {
                    color: #212121;
                    border-radius: 13px;
                    border: 1px solid #BFBFBF;
                    background: #FFF;
                    font-size: 14px;
                    padding: 8px 16px;

                    &:hover {
                        background-color: #d5d5d5b7 !important;
                    }
                }

                &.confirmbtn {
                    background-color: #7423D7;
                    border: 1px solid #7423D7;
                    min-width: 89px;
                    padding: 8px 16px;
                    font-size: 14px;
                }
            }
        }
    }

}


.containerblockin {
    .rolename {
        padding: 0 0 16px;

        label {
            color: #000;
            font-size: 14px;
            line-height: 32px;

            span {
                color: #F22E57;
            }
        }

        .emailadres {
            padding-bottom: 8px;
        }

        textarea {
            border-radius: 6px;
            border: 1px solid #BFBFBF;
            background: #FFF;
            max-height: 144px;

            padding: 12px;
        }
    }
}

.containerblockindel {
    padding: 0 0 16px;

    p {
        color: #000000;
        font-size: 16px;
        line-height: 26px;
        padding: 0 0 16px;

    }
}

.checkboxContainer {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
    font-size: 16px;
    flex: 1 0 0;

    input {
        opacity: 0;
        cursor: pointer;
    }

    .checkmark {
        position: absolute;
        left: 0;
        top: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
        border-radius: 4px;
        border: 1px solid #ccc;
        transition: 0.2s;
        width: 19px;
        min-width: 19px !important;
        height: 19px;
    }

    .checked {
        background-color: #7423D7;
        border-color: #7423D7;
    }

    .checked::after {
        content: "";
        position: absolute;
        left: 6px;
        top: 1px;
        width: 5px;
        height: 13px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        border-radius: 14px;
    }
}


.progressContainer {
    width: 100%;
    height: 10px;
    background-color: #D9D9D9;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #D9D9D9;

    .progressFill {
        height: 100%;
        background-color: #7423D7;
        width: 0%;
        border-radius: 10px 0 0 10px;
        transition: width 0.5s ease-in-out;
    }
}

//add user
.addusercontainer {
    .breadcrumb {
        display: flex;
        align-items: center;
        gap: 12px;

        p {
            color: #212121;
            font-size: 14px;
            line-height: 22px;

            display: flex;
            align-items: center;
            gap: 12px;
        }

        h3 {
            color: #212121;
            font-size: 14px;
            line-height: 22px;
        }
    }

    .headerole {
        padding: 16px 0;

        h3 {
            color: #000000;
            font-size: 18px;
            line-height: 28px;

        }

        p {
            color: #404040;
            font-size: 12px;

            line-height: 22px;
        }

        svg {
            cursor: pointer;
        }
    }

    .createroleblock {
        max-width: 480px;

        .rolename {
            padding: 0 0 16px;
            display: grid;
            gap: 4px;

            input:hover+.clrole {
                display: block;
                cursor: pointer;
            }

            .clrole {
                // position: relative;
                display: none;

                svg {
                    position: absolute;
                    top: 10px;
                    right: 122px;
                    width: 12px;
                    // height: 12px;
                }
            }

            input {
                max-width: 377px;
                cursor: pointer;

            }

            p {
                color: #404040;
                font-size: 12px;
                line-height: 22px;

            }

            label {
                color: #000;
                font-size: 14px;

                span {
                    color: #F22E57;
                }
            }

            textarea {
                border-radius: 6px;
                border: 1px solid #BFBFBF;
                background: #FFF;
                max-height: 144px;
            }
        }

        .btnblock {
            display: flex;
            align-items: center;
            gap: 14px;
            padding: 34px 0 0;

            button {
                height: 38px;
                border-radius: 14px;
                width: fit-content;


                &:nth-child(1) {
                    color: #212121;
                    border-radius: 13px;
                    border: 1px solid #BFBFBF;
                    background: #FFF;
                    font-size: 14px;
                    padding: 8px 16px;

                    &:hover {
                        background-color: #d5d5d5b7 !important;
                    }
                }

                &:nth-last-child(1) {
                    background-color: #7423D7;
                    border: 1px solid #7423D7;
                    min-width: 89px;
                    padding: 8px 16px;
                    font-size: 14px;
                }
            }
        }
    }
}

.userinformation {

    .agenfullcontain {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 16px 0;
        gap: 16px;

        .contactcenter {
            display: flex;
            min-width: 302px;
            max-width: 358px;
            padding: 16px;
            flex-direction: column;
            align-items: flex-start;
            flex: 1 0 0;
            border-radius: 16px;
            background: #F8F8F8;

            .drivencontact {
                color: #000000;
                font-size: 16px;
                padding-top: 16px;
            }

            .agentcca {
                .drivencontact {
                    h3 {
                        color: #000000;
                        font-size: 16px;
                        line-height: 22px;
                        padding-bottom: 8px;
                    }

                    p {
                        color: #404040;
                        font-size: 14px;
                        line-height: 22px;
                    }
                }

                .agentccater {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                }

                .interaction {
                    color: #0A3405;
                    border-radius: 24px;
                    border: 0.618px solid #136809;
                    background: linear-gradient(180deg, #FFF 25%, #F2F2F2 100%);
                    font-size: 12px;
                    padding: 4px 8px;
                }
            }
        }
    }

    .breadcrumb {
        display: flex;
        align-items: center;
        gap: 12px;

        p {
            color: #212121;
            font-size: 14px;
            line-height: 22px;

            display: flex;
            align-items: center;
            gap: 12px;
        }

        h3 {
            color: #212121;
            font-size: 14px;
            line-height: 22px;
        }
    }

    .accountinfocontainer {
        max-width: 688px;
        border-radius: 16px;
        background: #F8F8F8;
        padding: 16px;
        margin: 16px 0;

        .accountinfo {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h3 {
                display: flex;
                align-items: center;
                gap: 8px;
                color: #000;
                text-align: center;

                font-size: 22px;
                line-height: 28px;
                flex-direction: column;
                align-items: flex-start;

                span {
                    color: #FFFFFF;
                    background-color: #575CFF;
                    display: flex;
                    width: 34px;
                    height: 34px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-radius: 12px;
                    font-size: 14px;
                }
            }

            p {
                color: #0A3405;
                border-radius: 24px;
                border: 0.618px solid #136809;
                background: linear-gradient(180deg, #FFF 25%, #F2F2F2 100%);
                padding: 4px 12px;
                font-size: 12px;
            }
        }

        .teamdetails {
            display: flex;
            align-items: center;
            gap: 34px;
            padding: 18px 0 0;

            .teamsupport {
                display: grid;
                gap: 4px;

                p {
                    color: #404040;
                    font-size: 14px;
                    color: #404040;

                }

                label {
                    color: #000000;
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    gap: 4px;
                }
            }
        }
    }

    .accountcontainerlist {
        max-width: 688px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 34px;

        .organizationadd {
            display: grid;
            gap: 8px;

            h3 {
                color: #000000;
                font-size: 16px;
                line-height: 22px;

            }

            p {
                color: #404040;
                font-size: 14px;
                line-height: 22px;

            }
        }

        button {
            max-width: 123px;
            color: #212121;
            border-radius: 14px;
            border: 1px solid #BFBFBF;
            background: #FFF;
            font-size: 14px;
            padding: 4px 6px;
            height: 38px;
            width: fit-content;

            &:hover {
                background-color: #d5d5d5b7 !important;
            }
        }
    }
}

//tabs

.tabcontainer {
    background: #fff;

    .tabheaders {
        display: flex;
        align-items: center;
        gap: 8px;

        .tabitem {
            text-align: center;
            margin: 12px 0 0;
            cursor: pointer;
            color: #555;
            // transition: all 0.2s ease-in-out;
            border-radius: 8px;
            background: #F0F1F2;
            color: #000;
            padding: 10px 14px;
            max-height: 38px;
            font-size: 14px;
            line-height: 18px;



            p {
                margin: 0 !important;
            }

            &.active {
                background: #F8F8F8;
                color: #7423D7;
                border: 1px solid #7423D7;
                border-radius: 8px;
                padding: 10px 14px;
                line-height: 18px;
                max-height: 38px;
                font-size: 14px;
            }
        }
    }
}

//
.paginationcontainer {
    background-color: #fff;
    width: calc(100% - 270px);
    display: flex;
    align-items: center;
    padding: 0 12px;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    z-index: 9;
}

.paginationleft {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 24px;

    span {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    p {
        color: #757676;
        font-size: 14px;

    }
}

.paginationright {
    width: 50%;
}

.flattach {
    p {
        margin: 0 0 12px;
    }
}

.useracttitle {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    padding: 24px 0 12px;
}

.useractmain {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 12px 0;

    .useractmaininner {
        display: flex;
        align-items: center;

        .useractmainleft {
            color: #000;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            width: 74px;
            text-align: left;
            text-transform: capitalize;
            @include big5{
                width: 54px;
            }
        }

        .useractmaincenter {
            width: calc(100% - 112px);
            padding: 0 6px;

            display: flex;
            align-items: center;
            gap: 20px;
            @include big6{
                gap:12px;
                width: calc(100% - 92px);
            }

            .img {
                width: 32px;
                min-width: 32px;
                height: 32px;
                min-height: 32px;
                border-radius: 40px;

                img {
                    width: 100%;
                    height: 100%;
                }

                p {
                    color: #fff;
                    width: 32px;
                    min-width: 32px;
                    height: 32px;
                    min-height: 32px;
                    background-color: #575CFF;
                    border-radius: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0;
                }
            }

            .title {
                display: flex;
                align-items: center;
                gap: 6px;
                text-transform: capitalize;
                @include big5{
                    align-items: flex-start;
                    flex-direction: column;
                }

                .name {
                    color: #000;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
                }

                .para {
                    color: #000;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                }
            }
        }

        .useractmainright {
            width: 38px;
            min-width: 38px;
        }
    }
}

.usersmain {
    .usersmaininner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
        border-bottom: 1px solid #BFBFBF;
        padding: 12px 0 24px;

        .usersmaininnerleft {
            display: flex;
            align-items: center;
            gap: 12px;
            width: calc(100% - 300px);

            .img {
                width: 55px;
                height: 55px;
                border-radius: 50%;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .title {
                display: flex;
                align-items: flex-start;
                gap: 6px;
                flex-direction: column;
                width: calc(100% - 65px);

                .name {
                    color: #000;
                    font-size: 18px;
                    line-height: 24px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }

                .para {
                    color: #404040;
                    font-size: 13px;
                    line-height: 22px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    width: 240px;
                }
            }
        }

        .usersmaininnerright {
            display: flex;
            align-items: flex-end;
            gap: 6px;
            flex-direction: column;
            width: 300px;

            .status {
                border-radius: 24px;
                border: 0.618px solid #136809;
                background: var(--Colors-Black-White, #FFF);
                display: flex;
                height: 24px;
                padding: 0 8px;
                justify-content: center;
                align-items: center;
                font-size: 13px;
                color: #0A3405;
            }

            .time {
                color: #404040;
                font-size: 13px;
                line-height: 22px;
            }
        }
    }
}

.nodatacontainer {
    width: 100%;
    display: flex;
    place-items: center;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .nodatabox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;

        img {
            width: 160px;
        }
    }

    .connected {
        display: flex;
        align-items: center;
        gap: 4px;
        justify-items: center;
        flex-direction: column;

        .callstitle {
            color: #212121;
            font-family: 'Inter';
            font-size: 20px;
            font-weight: 600;
            line-height: 27px;
        }

        .callmessage {
            color: #757576;
            font-family: 'Inter';
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
        }
    }
}

.tag {
    border-radius: 24px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    padding: 0 8px;

    &.red {
        border: 0.618px solid var(--torch-red-500, #DE003D) !important;
        background: #F2F2F2 !important;
        color: #DE003D !important;
    }

    &.orange {
        border: 0.618px solid #F57C00 !important;
        background: #FEFBF9 !important;
        color: #874400 !important;
    }

    &.green {

        border: 0.6px solid #0F9D58 !important;
        background: #F6FBF9 !important;
        color: #0E8F50 !important;
    }
}