@import '../../../assets/styles/variables.scss';

.companynameheader {
    // height: calc(100vh - 140px);
    // overflow-y: auto;
    width:  100%;
    overflow: hidden;
    height: 100%;

    &.companylisthidden {
        overflow-y: hidden;
    }

    .dealactivityleft {
        border-radius: 16px;
        border: 0.6px solid #D2D3D4;
        background: #FFF;
        padding: 22px;
        max-width: 798px;
        margin: 16px auto;

        .discoverblocklive {
            display: flex;
            align-items: flex-start;
            gap: 12px;

            .calltitlelist {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 4px;

                .callsubtitle {
                    color: var(--Text-color-text-primary, #0B0B0B);
                    text-align: center;
                    font-family: 'Inter';
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 24px;
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    span {
                        color: var(--clr-text-accent-info, #155BC2);
                        font-family: 'Inter';
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 16px;
                        border-radius: 24px;
                        border: 0.618px solid var(--Border-c-border-info, #1A73E8);
                        background: var(--Elements-c-element-info-subtle, #F3F7FE);
                        padding: 2px 8px;
                    }
                }
            }
        }

        .viewallactivity {
            display: flex;
            align-items: center;
            gap: 10px;
            min-height: 44px;
            padding: 8px 16px;
            font-family: 'inter';
            margin: 22px 0 0;
            font-size: 16px;
        }

        .cardblocksetcall {
            border-radius: 21px;
            border: 0.6px solid #D2D3D4;
            background: #FFF;
            padding: 22px;

            .callcardtitle {}

            .callsubtitle {
                color: #0B0B0B;
                text-align: center;
                font-family: 'Inter';
                font-size: 18px;
                font-weight: 600;
                line-height: 24px;
                display: flex;
                align-items: center;
                gap: 14px;
                padding: 0 0 16px;

                span {
                    color: #2C2E80;
                    font-family: 'Inter';
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16px;
                    border-radius: 24px;
                    border: 0.618px solid #575CFF;
                    background: linear-gradient(180deg, #FFF 25%, #F2F2F2 100%);
                    padding: 2px 8px;
                }
            }

            .discovery {
                display: grid;
                align-items: center;
                grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
                gap: 14px;

                .callcardblock {
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    .datecontainerright {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                        .discovercall {
                            color: #000;
                            font-family: 'Inter';
                            font-size: 13px;
                            font-weight: 400;
                            line-height: 18px;
                        }

                        .discovercalldate {
                            color: #000;
                            font-family: 'Inter';
                            font-size: 13px;
                            font-weight: 600;
                            line-height: 22px;
                        }
                    }
                }
            }
        }

        .calldiscover {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding: 0 0 16px;

            .callslot {
                color: #F57C00;
                text-align: center;
                font-family: 'Inter';
                font-size: 12px;
                font-weight: 600;
                line-height: 16px;
            }

        }

        .meetinglinkcontainer {
            .meetingtitle {
                color: #0B0B0B;
                text-align: left;
                font-family: 'Inter';
                font-size: 18px;
                font-weight: 600;
                line-height: 24px;
            }

            .meetingblock {
                border-radius: 21px;
                background: #FFF;
                padding: 22px 0 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 26px;


                .meetingleftblock {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    a {
                        color: #000;
                        font-family: 'Inter';
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 18px;
                        text-decoration: none;
                        word-break: break-word;
                    }
                }

                .copyrightblock {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    .startmeet {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        border-radius: 13px;
                        background-color: #0B0B10;
                        border: 0.6px solid #0B0B10;
                        color: #fff;
                        text-align: center;
                        font-family: 'Inter';
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 18px;
                        padding: 8px 16px 8px 12px;
                        min-height: 42px;
                    }
                }

                .meetingrightblock {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    border-radius: 13px;
                    color: #000;
                    text-align: center;
                    font-family: 'Inter';
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 18px;
                    padding: 8px 16px 8px 12px;
                    border-radius: var(--Radius-space-radius-medium, 12px);
                    border: 0.6px solid #C9C9CF;
                    background: #FFF;
                    min-height: 42px;
                }
            }

            .linksubtitle {
                color: #000;
                text-align: left;
                font-family: 'Inter';
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
            }
        }

        .dealblock {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 0 21px;

            .dealblocktitle {
                color: #000;
                font-family: 'Inter';
                font-size: 21px;
                font-weight: 600;
                line-height: 28px;
            }

            button {
                background: #FFF;
                border-radius: 13px;
                border: 0.6px solid #BFBFBF;
                color: #000;
                font-family: "Inter";
                font-size: 16px;
                font-weight: 500;
                line-height: 18px;
                padding: 8px 16px;
                min-height: 40px !important;
                white-space: nowrap;
            }
        }

        .dealcreatedblock {
            .loopcontainer {
                display: flex;
                align-items: flex-start;
                gap: 12px;
                margin: 0 0 12px;

                .loopcount {
                    border-radius: 30px;
                    color: #BDBEBF;
                    background: #FFF;
                    font-family: 'Inter';
                    font-size: 13px;
                    font-weight: 600;
                    line-height: 22px;
                    padding: 0 8px;
                    border: 1px solid #BDBEBF;
                    position: relative;


                    &.active {
                        color: #7423D7;
                        border: 1px solid #7423D7;

                        &::before {
                            content: '';
                            width: 1px;
                            height: 100%;
                            background: #7423D7;
                            display: block;
                            left: 12px;
                            top: 32px;
                            position: absolute;
                        }

                        &::after {
                            content: '';
                            width: 1px;
                            height: 100%;
                            background: #7423D7;
                            display: block;
                            left: 12px;
                            bottom: 36px;
                            position: absolute;
                        }
                    }

                    &::before {
                        content: '';
                        width: 1px;
                        height: 100%;
                        background: #BDBEBF;
                        display: block;
                        left: 12px;
                        top: 32px;
                        position: absolute;
                    }

                    &::after {
                        content: '';
                        width: 1px;
                        height: 100%;
                        background: #BDBEBF;
                        display: block;
                        left: 12px;
                        bottom: 36px;
                        position: absolute;
                    }
                }

                .loopblock {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 8px;

                    .loopblocktitle {
                        color: #3A3A3A;
                        font-family: 'Inter';
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22px;
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        span {
                            color: #0C7F48;
                            font-family: 'Inter';
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 16px;
                            border-radius: 24px;
                            border: 0.618px solid #0F9D58;
                            background: #F2FBF7;
                            padding: 2px 8px;

                            &.inprogress {
                                color: #155BC2;
                                border-radius: 24px;
                                border: 0.618px solid #1A73E8;
                                background: #F3F7FE;
                            }

                            &.upcoming {
                                color: #1B191D;
                                font-family: 'Inter';
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 16px;
                                border-radius: 24px;
                                background: #D6D5D7;
                                border: 0.618px solid #D6D5D7;
                            }
                        }
                    }

                    .loopblocksubtitle {
                        color: #404040;
                        font-family: 'Inter';
                        font-size: 13px;
                        font-weight: 500;
                        line-height: 22px;
                    }

                    .loopblocktitleline {
                        color: #000;
                        font-family: 'Inter';
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 16px;
                    }
                }
            }

            .loopcontainer:first-child .loopcount::after {
                display: none;
                content: none;
            }

            .loopcontainer:last-child .loopcount::before {
                display: none;
                content: none;
            }
        }
    }

    .tabactivemain {
        border-radius: 16px;
        background: linear-gradient(180deg, #FFF 63.46%, #FEFEFE 100%);

        max-width: 798px;
        margin: 0px auto;
        @include big4{
            max-width: 100%;
            padding: 0 16px;
        }

        .blockcontainersuggestion {
            border-radius: 16px;
            border: 0.6px solid #D2D3D4;
            background: #FFF;
            padding: 22px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            align-items: flex-start;
            margin: 16px 0;
            @include big4{
                padding: 16px;
            }

            .requiredtitle {
                color: #000;
                font-family: 'Inter';
                font-size: 16px;
                font-weight: 600;
                line-height: 26px;
            }

            .requiredtitleaction {
                color: #404040;
                font-family: 'Inter';
                font-size: 13px;
                font-weight: 500;
                line-height: 22px;
            }
        }

        .summarycontainerset {
            display: inline-flex;
            flex-direction: column;
            gap: 6px;
            align-items: flex-start;
            margin: 0 0 12px;

            .summarytitlesection {
                color: #000;
                font-family: 'Inter';
                font-size: 16px;
                font-weight: 600;
                line-height: 26px;
            }

            .subsummary {
                color: #0B0B0B;
                font-family: 'Inter';
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
            }
        }

        .totalblock {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: stretch;
            gap: 14px;

            @include big5 {
                grid-template-columns: repeat(1, 1fr);
            }

            .amountsetblock {
                border-radius: 16px;
                border: 0.6px solid #D2D3D4;
                background: #FFF;
                padding: 22px 14px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 8px;
                flex: 1 0 0;

                .amountitle {
                    color: #0B0B0B;
                    font-family: 'Inter';
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16px;
                }

                .amountsubtitle {
                    color: #000;
                    font-family: 'Inter';
                    font-size: 21px;
                    font-weight: 600;
                    line-height: 28px;
                }
            }
        }
    }

    .filtertoplist {
        background-color: #FFF;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .companylisttopbar {
        padding: 16px 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 798px;
        margin: auto;
        gap: 16px;
        @include big4{
            max-width: 100%;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            padding: 16px 0 12px;
        }

        .companyleft {
            display: flex;

            .contactblock {
                display: flex;
                align-items: center;
                gap: 14px;

                .contactprofile {
                    display: flex;
                    min-width: 55px;
                    width: 55px;
                    height: 55px;
                    padding: 18px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 18px;
                    border-radius: 55px;
                    background: #7423D7;
                    color: #FFF;
                    text-align: center;
                    font-family: 'Inter';
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 38px;
                }

                .customername {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 4px;

                    .customernametitle {
                        color: #000;
                        text-align: left;
                        font-family: 'Inter';
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 26px;
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        .customerdatafile {
                            width: 100%;
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                        }

                        span {
                            border-radius: 24px;
                            border: 0.618px solid #136809;
                            background: linear-gradient(180deg, #FFF 25%, #F2F2F2 100%);
                            color: #0A3405;
                            text-align: center;
                            font-family: 'Inter';
                            font-size: 13px;
                            font-weight: 400;
                            line-height: 18px;
                            padding: 2px 6px;
                            white-space: nowrap;
                        }
                    }

                    .customermail {
                        color: #6C6C6C;
                        text-align: center;
                        font-family: 'Inter';
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 18px;
                        word-break: break-word;
                    }
                }
            }
        }

        .companyright {
            display: flex;
            align-items: center;
            gap: 8px;

            span {
                cursor: pointer;
            }

            button {
                font-size: 16px;
                font-family: 'inter';
                padding: 8px 16px;
                height: 38px;
                min-height: 38px;
                white-space: nowrap;
            }
        }
    }

    .filters {
        display: flex;
        gap: 8px;
        align-items: center;
        padding: 12px 0;
        max-width: 798px;
        margin: auto;

        .filterchip {
            padding: 6px 12px;
            border-radius: 8px;
            border: 1px solid #ededed;
            font-size: 13px;
            cursor: pointer;
            color: #0B0B0B;
            text-align: center;
            font-family: 'Inter';
            font-weight: 400;
            line-height: 16px;

            &.active {
                border-radius: 8px;
                border: 0.6px solid #3A3A3A;
                background: #F3F3F3;
            }
        }
    }

    .tabContent {
        max-width: 798px;
        margin: auto;

        &.tablistactive {
            max-width: 100%;
        }
    }

    .customermaincontainer {
        &.contactprojectlist {

            max-width: 100%;

            .customeractive {
                max-width: 798px;
                margin: auto;
            }
        }

        .personlistWrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 14px 8px;
            padding: 16px 0;
            @include big5{
                flex-direction: column;
            }

            .personlist {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                flex: 1 1 40%;

                .customerlabel {
                    color: #757576;
                    text-align: center;
                    font-family: "Inter";
                    font-size: 12px;
                    font-weight: 400;
                    line-height: normal;
                    margin: 0 0 4px;
                }

                .customerlabelname {
                    color: #0B0B0B;
                    text-align: center;
                    font-family: 'Inter';
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 22px;
                    text-align: left;
                }
            }
        }

        .leadscorecontainer {
            border-radius: 10px;
            border: 1px solid #E5E7EB;
            background: #FFF;
            padding: 22px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 14px;
            @include big4{
                padding: 16px;
                gap:12px;
            }

            .leadtitle {
                color: #0B0B0B;
                text-align: center;
                font-family: 'Inter';
                font-size: 18px;
                font-weight: 600;
                line-height: 24px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                span {
                    color: #0A3405;
                    text-align: center;
                    font-family: 'Inter';
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 18px;
                    border-radius: 24px;
                    border: 0.618px solid #136809;
                    background: linear-gradient(180deg, #FFF 25%, #F2F2F2 100%);
                    padding: 2px 8px;
                }
            }

            .toptool {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 14px;

                .totalscore {
                    color: #3A3A3A;
                    text-align: center;
                    font-family: 'Inter';
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 22px;
                }
            }

            .leadtotaltitle {
                color: #0B0B0B;
                font-family: 'Inter';
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
            }
        }

        .activitymainlog {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;

            .allemail {
                color: #000;
                text-align: center;
                font-family: 'Inter';
                font-size: 16px;
                font-weight: 600;
                line-height: 26px;
            }

            .emaildropdown {
                color: #0B0B0B;
                text-align: center;
                font-family: 'Inter';
                font-size: 12px;
                font-weight: 600;
                line-height: 16px;
                gap: 4px;
                display: flex;
                align-items: center;
            }
        }

        .allactivitycontainer {
            .allactivitytitle {
                color: #000;
                text-align: left;
                font-family: 'Inter';
                font-size: 21px;
                font-weight: 600;
                line-height: 28px;
                padding: 16px 0;
            }

            .activitymain {
                display: flex;
                align-items: flex-start;
                gap: 8px;
                border-bottom: 0.6px solid #BFBFBF;
                padding: 16px 0;

                .activitycontainer {
                    width: 100%;

                    .direct {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .directright {
                            color: #000;
                            font-family: 'Inter';
                            font-size: 13px;
                            font-weight: 600;
                            line-height: 22px;
                        }

                        .directleft {
                            color: #000;
                            font-family: 'Inter';
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 24px;
                            display: flex;
                            align-items: center;
                            gap: 14px;

                            span {
                                color: #0A3405;
                                text-align: center;
                                font-family: 'Inter';
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 18px;
                                border-radius: 24px;
                                border: 0.6px solid #136809;
                                background: linear-gradient(180deg, #FFF 25%, #F2F2F2 100%);
                                padding: 2px 8px;

                                &.meeting {
                                    color: #2C2E80;
                                    border-radius: 24px;
                                    border: 0.6px solid #575CFF;
                                    background: linear-gradient(180deg, #FFF 25%, #F2F2F2 100%);
                                }

                                &.cancelled {
                                    color: #808001;
                                    border-radius: 24px;
                                    border: 0.6px solid #FFFF80;
                                    background: linear-gradient(180deg, #FFF 25%, #F2F2F2 100%);
                                }

                                &.missed {
                                    color: #DE003D;
                                    border-radius: 24px;
                                    border: 0.6px solid #DE003D;
                                    background: #F2F2F2;
                                }
                            }
                        }
                    }

                    .plantitile {
                        color: #676767;
                        font-family: 'Inter';
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 26px;
                    }

                    .plantitilesub {
                        display: flex;
                        align-items: center;
                        color: #000;
                        font-family: 'Inter';
                        font-size: 13px;
                        font-weight: 600;
                        line-height: 18px;
                        gap: 4px;

                        span {
                            font-weight: 300;
                        }
                    }
                }
            }
        }

        .campaignblock {
            border-radius: 16px;
            border: 1px solid #D2D3D4;
            padding: 16px;
            margin: 14px 0;

            .campaignblockcontainer {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 0.6px solid #bfbfbf;
                padding: 16px 0;

                &:nth-last-child(1) {
                    border-bottom: 0.6px solid transparent;
                }

                &:only-child(1) {
                    padding: 0;
                }

                .administratorlead {
                    display: flex;
                    align-items: center;
                    gap: 14px;

                    .campaignicons {
                        width: 34px;
                        height: 34px;
                        min-width: 34px;
                        max-width: 34px;
                        min-height: 34px;
                        max-height: 34px;
                        border-radius: 55px;
                        background: #7423D7;
                        color: #FFF;
                        text-align: center;
                        font-family: "Inter";
                        font-size: 14px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            border-radius: 1080px;
                        }
                    }

                    .retailblock {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 4px;

                        .retailblocktitle {
                            color: #000;
                            text-align: left;
                            font-family: 'Inter';
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 26px;
                        }

                        .retailblocksubtitle {
                            color: #000;
                            text-align: left;
                            font-family: 'Inter';
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 16px;
                        }
                    }
                }

                .joinedtitle {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    gap: 4px;

                    .joinedtitleupdate {
                        color: #0A3405;
                        font-family: 'Inter';
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 18px;
                        border-radius: 24px;
                        border: 0.618px solid #136809;
                        background: #FFF;
                        padding: 2px 8px;
                    }

                    .subtitle {
                        color: #404040;
                        font-family: 'Inter';
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 16px;
                    }
                }
            }
        }
    }

    .breadcrumbcontainer {
        padding: 34px 16px;
        display: flex;
        align-items: center;

        .breadcrumleft {
            color: #000;
            font-family: 'Inter';
            font-size: 13px;
            font-weight: 400;
            line-height: 18px;
            display: flex;
            align-items: center;
            cursor: pointer;

            &::after {
                background: url('../../../assets/images/contacts/arrow.svg') no-repeat;
                content: '';
                display: flex;
                align-items: center;
                width: 26px;
                height: 20px;
            }
        }

        .breadcrumright {
            color: #000;
            font-family: 'Inter';
            font-size: 13px;
            font-weight: 600;
            line-height: 22px;
        }
    }
}

.notesdropdown {
    position: absolute;
    top: 44px;
    right: 0;
    width: 460px;
    background: #fff;
    height: 300px;
    display: flex;
    flex-direction: column;
    border: .6px solid #C9C9CF;

    box-shadow: 0 8px 24px -4px rgba(102, 84, 78, 0.14);
    border-radius: 16px;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #F8F8F8;
        padding: 12px;
        border-radius: 16px 16px 0 0;
        color: #0B0B0B;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;

        .cancelbtn {
            // width: 32px;
            // height: 32px;
            // display: grid;
            place-items: center;
            cursor: pointer;
        }
    }

    .body {

        width: 100%;
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
        cursor: text;

        .inner {
            width: 100%;
            height: inherit;
            word-break: break-word;
            padding: 16px;

            .imgpreview {
                width: 120px;
                height: 120px;
                padding: 12px 0;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 0px 0px 16px 16px;
        padding: 12px;

        .lefts {
            display: flex;

            span {
                width: 32px;
                height: 32px;
                display: grid;
                place-items: center;
                padding: 8px;

                img,
                svg {
                    width: 100%;
                    height: 100%;
                }

                &:hover {
                    background-color: #D2D3D4;
                    border-radius: 50%;
                }
            }
        }
    }
}

.badge {
    color: #0A3405;
    text-align: center;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    border-radius: 24px;
    border: 0.6px solid #136809;
    background: linear-gradient(180deg, #FFF 25%, #F2F2F2 100%);
    padding: 2px 8px;
    border-radius: 24px;
    border: var(--border-border-small, 0.6px) solid var(--Border-c-border-sucess, #0F9D58);
    background: var(--Elements-c-element-success-subtle, #F6FBF9);

    &.meeting {
        color: #2C2E80;
        border-radius: 24px;
        border: 0.6px solid #575CFF;
        background: linear-gradient(180deg, #FFF 25%, #F2F2F2 100%);
    }

    &.cancelled {
        color: #808001;
        border-radius: 24px;
        border: 0.6px solid #FFFF80;
        background: linear-gradient(180deg, #FFF 25%, #F2F2F2 100%);
    }

    &.missed {
        color: #DE003D;
        border-radius: 24px;
        border: 0.6px solid #DE003D;
        background: #F2F2F2;
    }
}

.imgcontainerr {
    width: 120px;
    height: 120px;
    border-radius: 12px;
    margin: 8px 0;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
    }
}

.formalist {
    display: flex;
    align-items: center;
    gap: 8px;
}

.filters {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 12px 0;
    max-width: 798px;
    margin: auto;

    .filterchip {
        padding: 6px 12px;
        border-radius: 8px;
        border: 1px solid #ededed;
        font-size: 13px;
        cursor: pointer;
        color: #0B0B0B;
        text-align: center;
        font-family: 'Inter';
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;

        &.active {
            border-radius: 8px;
            border: 0.6px solid #3A3A3A;
            background: #F3F3F3;
        }
    }
}

.feedWrap {
    // padding: 1rem 0;

    .feedHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        .feedTitle {
            font-size: 15px;
            font-weight: 500;
            color: #1a1a1a;
        }

        .feedFilter {
            display: flex;
            align-items: center;
            gap: 6px;
            font-size: 13px;
            color: #666;
            cursor: pointer;
            border: 0.5px solid #ddd;
            border-radius: 6px;
            padding: 5px 10px;
            background: #fff;
            transition: background 0.15s;

            svg {
                width: 12px;
                height: 12px;
            }

            &:hover {
                background: #f5f5f5;
            }
        }
    }

    .groupLabel {
        font-size: 14px;
        font-weight: 500;
        color: #1a1a1a;
        margin: 0 0 10px;
        color: var(--clr-text-primary, #0B0B10);


        /* Title/H2 */
        font-family: var(--font-style-primary, Inter);
        font-size: var(--Type-type-header-h2, 20px);
        font-style: normal;
        font-weight: 600;
        line-height: var(--Type-type-height-medium, 24px);
        /* 120% */
    }

    .item {
        display: flex;
        gap: 12px;
        padding: 14px 0;
        border-bottom: 0.5px solid #ddd;
        cursor: pointer;

        &:hover {
            .btncontainer {
                display: flex;
            }
        }

        &:last-child {
            border-bottom: none;
        }

        .iconWrap {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;

            svg,
            img {
                width: 100%;
                height: 100%;
            }

            &.iconGreen {
                background: #E1F5EE;
            }

            &.iconBlue {
                background: #E6F1FB;
            }

            &.iconPurple {
                background: #EEEDFE;
            }
        }

        .itemBody {
            flex: 1;
            min-width: 0;
            display: flex;
            flex-direction: column;
            gap: 8px;

            .bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .lefts {
                    display: flex;
                    gap: 16px;
                    align-items: center;
                    line-height: 38px;
                }
            }

            .itemTop {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                gap: 8px;
                margin-bottom: 4px;

                .itemName {
                    font-size: 14px;
                    font-weight: 500;
                    color: #1a1a1a;
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    flex-wrap: wrap;
                    color: #0B0B10;

                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;

                }

                .itemDate {
                    font-size: 12px;
                    color: #666;
                    white-space: nowrap;
                    flex-shrink: 0;
                    color: #0B0B10;
                    font-family: Inter;

                    font-style: normal;
                    font-weight: 600;

                }
            }

            .itemDesc {
                font-size: 13px;
                color: #666;
                margin-bottom: 6px;
            }

            .itemMeta {
                font-size: 12px;
                color: #666;
                display: flex;
                gap: 4px;
                flex-wrap: wrap;
                color: #0B0B10;

                font-size: 12px;
                font-style: normal;
                font-weight: 600;
                align-items: center;


                span {
                    color: #1a1a1a;
                    font-weight: 500;
                }
            }
        }
    }

    .badge {
        font-size: 11px;
        padding: 2px 8px;
        border-radius: 999px;
        font-weight: 500;
        border: none;
        text-transform: capitalize;
        &.badgeGreen {
            background: #E1F5EE;
            color: #0F6E56;
            border: 1px solid #0F6E56;
        }

        &.badgeBlue {
            background: #E6F1FB;
            color: #185FA5;
            border: 1px solid #185FA5;
        }

        &.badgeGray {
            background: #F1EFE8;
            color: #5F5E5A;
            border: 1px solid #5F5E5A;
        }
    }
}

.btncontainer {
    display: flex;
    gap: 12px;
    align-items: center;
    display: none;

    button {
        background-color: #fff;
        color: #000;
        min-width: auto;
        height: auto;
        padding: 6px;
        gap: 8px;
    }

    .meetingbtn {
        background-color: #fff;
        color: #000;
    }

    .startmeetbtn {
        background-color: #000;
        color: #fff;
    }

}

.newcardblockdes {
    border-radius: 16px;
    border: 0.6px solid #D2D3D4;
    background: #FFF;
    padding: 22px;
    margin-bottom: 16px;
    @include big4{
        padding: 16px;
        
    }

    .dealblocktitle {
        color: #000;
        font-family: "Inter";
        font-size: 21px;
        font-weight: 600;
        line-height: 28px;
    }
}

.summarycardblock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 16px;

    .summarycardtitle {
        color: #0B0B10;
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
    }

    .summarysubtitle {
        color: #0B0B10;
        font-family: "Inter";
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }
}

.summarytitlesection {
    color: #000;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
}