.income {
  border-radius: 16px;
  background: #161717;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.24);
  position: fixed;
  right: 24px;
  top: 70px;
  z-index: 9999;
  width: 335px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .incomeblock {
    padding: 12px;
    display: flex;
    gap: 12px;
    border-radius: 10px;
    background: #2C2C2E;
    flex-direction: column;

    .incometitle {
      color: #FFF;
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      text-transform: capitalize;
      word-break: break-word;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }

    .incomedetail {
      display: flex;
      flex-direction: column;
      gap: 12px;
      font-size: 16px;
      line-height: 22px;
      color: #fff;
      width: 100%;

      .teamdtls {
        font-size: 14px;
        font-weight: 300;

        .bold {
          font-size: 16px;
        }
      }
    }

    .incometags {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;

      .incometagsinner {
        border-radius: 30px;
        background: #161717;
        padding: 2px 8px;
        color: #FFF;
        font-size: 13px;
        line-height: 133%;
      }
    }
  }

  .incomebottom {
    display: flex;
    justify-content: space-between;
    gap: 12px;

    .incometimer {
      display: flex;
      gap: 12px;
      width: max-content;

      .rights {
        display: flex;
        gap: 4px;
        flex-direction: column;
      }

      .incometimertext {
        color: #BDBEBF;
        font-size: 14px;
        line-height: 17px;
      }

      .incometimercount {
        color: #FFF;
        font-size: 28px;
        line-height: 33px;
      }
    }

    .incomeaction {
      display: flex;
      gap: 12px;
    }
  }
}

.dialpadbtn {
  width: 32px !important;
  height: 32px !important;
  min-width: 32px !important;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &.purplebtn {
    background: #7423d7 !important;
  }

  &.answerBtn {
    background: #fff;
  }

  &.endBtn {
    background: #fff;
  }
}