.createmaincontainer {
  max-width: 798px;
  margin: auto;
}

.titlearea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 32px;

  .titlearealeft {
    .title {
      color: #000;
      font-size: 21px;
      font-family: 'intersemibold';
      line-height: 27px;
      font-family: 'inter';
    }

    .desc {
      color: #404040;
      font-size: 13px;
      font-family: 'interregular';
      line-height: 22px;
      font-family: 'inter';
    }
  }

  .titlearearight {}
}

.cardContainer {
  gap: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  border-radius: 16px;
  border: 0.6px solid var(--Colors-Essentials-Stoke-Stoke---Border---Line, #D2D3D4);
  background: #FFF;
  padding: 24px;
  cursor: pointer;

  input[type="radio"] {
    display: none;
    /* hide the default radio */
  }

  .customRadio {
    width: 20px;
    height: 20px;
    border: 2px solid #999;
    border-radius: 50%;
    position: relative;
    transition: 0.3s;
  }

  .customRadio::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #00B885;
    opacity: 0;
    transition: 0.2s ease-in-out;
  }

  &.active .customRadio {
    border-color: #00B885;
  }

  &.active .customRadio::after {
    opacity: 1;
  }

  .content {
    display: flex;
    align-items: flex-start;
    gap: 6px;
    flex-direction: column;
    padding: 0 48px 0 0;

    .contentno {
      color: #000;
      font-size: 16px;
      font-family: 'intersemibold';
      line-height: 22px;
    }

    .contentname {
      color: #000;
      font-size: 16px;
      font-family: 'intersemibold';
      line-height: 22px;
    }

    .contentexp {
      color: #000;
      font-size: 13px;
      font-family: 'interregular';
      line-height: 18px
    }
  }

  &:hover {
    border-color: #aaa;
  }

  &.active {
    border-color: #00B885;
    background: #00b8850a;
  }
}


.cardblock {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  justify-content: space-between;

  .cardblockleft {
    display: flex;
    align-items: center;
    gap: 24px;

    .imgcard {
      width: 44px;
      height: 33px;
    }
  }
}

.primary {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'inter';
}

.paymentoptions {
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.navigation {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #212121;
  font-size: 13px;
  font-family: 'interregular';
  line-height: 21px;
  margin: 0 0 24px;

  span {
    color: #212121;
    font-family: 'intersemibold';
  }
}

.cardform {
  width: 600px;
}

.fieldmain {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 0 0 16px;

  .label {
    color: #000;
    font-size: 16px;
    font-family: 'intersemibold';
    line-height: 22px;

    span {
      color: #DE003D;
    }
  }

  .value {
    margin: 0 0 6px;
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.buttongroup {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  margin: 24px 0;

  button {
    color: #212121;
    font-style: normal;
    font-family: 'intermedium';
    line-height: 21px;
    border-radius: 13px;

    &:nth-child(1) {
      border: 1px solid #BFBFBF;
      background: var(--Colors-Black-White, #FFF);
    }
  }
}