.editor {
    border-radius: 24px;
    background: var(--Background-color-bg-inverse, #0B0B0B);
    padding: 12px 21px;
    position: relative;
    @include big3{
        padding: 12px;
    }

    .editorblock {
        display: flex;
        align-items: center;
        gap: 8px;
        justify-content: space-between;

        .lefts {
            display: flex;
            align-items: center;
            gap: 8px;
            width: 100%;
        }

        .rights {
            display: flex;
            align-items: center;
            gap: 4px;
        }

        .speechtextblock {
            display: flex;
            align-items: center;
            gap: 6px;
        }

        .editorblockicon {
            display: grid;
            place-items: center;
            min-width: 32px;
            min-height: 32px;
            height: 32px;
            width: 32px;
            cursor: pointer;

            img {}
        }

        textarea {
            background: transparent;
            border: 0;
            color: #fff;
            width: 100%;
            font-size: 14px;
            min-height: 20px;
            line-height: 24px;
            resize: none;
            font-family: 'Inter';

            &::placeholder {
                color: #fff;
            }

            &:focus {
                outline: 0;
                border: 0;
            }
        }
    }
}

.micIcon {
    display: grid;
    place-items: center;
    min-width: 32px;
    min-height: 32px;
    height: 32px;
    width: 32px;

    cursor: pointer;

    &.activeonboard {
        background-color: #8d8c8cd6;
        border-radius: 24px;
    }

    &.active {
        background-color: #d2d2d2d6;
        border-radius: 24px;
    }
}

.previewContainer {
    display: flex;
    flex-wrap: wrap;
}

.filePreview {
    background-color: #ddddddac;
    position: relative;
    display: inline-block;
    margin: 0 10px 10px 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;

    &:first-of-type {}

    .previewImage {
        width: 30px;
        height: 30px;
        border-radius: 6px;
    }

    .closeButton {
        width: 16px;
        min-width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -6px;
        right: -6px;
        background: white;
        border: none;
        border-radius: 50%;
        padding: 1px;
        cursor: pointer;
        font-size: 10px;
        line-height: normal;
    }
}

.searchcontent {
    border-radius: 16px;
    background: #2F2F2F;
    box-shadow: 0 16px 40px -8px rgba(102, 84, 78, 0.18);
    display: flex;
    width: 100%;
    padding: 16px 0;
    align-items: center;
    gap: 16px;
    position: absolute;
    bottom: 65px;
    right: 0;
    color: #fff;
    padding: 12px;

    .btn {
        width: 32px;
        height: 32px;
        display: grid;
        place-items: center;
        cursor: pointer;

    }

    .body {
        overflow-y: auto;
        max-height: 100px;
        width: 100%;
        word-break: break-word;
    }
}