//colors
// Brand colors
$primary: #0B0B0B;
$secondary: #7423d7;
$grey: #d2d3d4;



$primarybtnclr: #0B0B0B;
$secondarybtnclr: #fff;

// Text colors
$text-primary: #000;
$text-secondary: #404040;


// Backgrounds
$bg-white: #ffffff;
$greybg: #F3F3F3;


@font-face {
    font-family: "Inter";
    src: url("../../assets/fonts/Inter-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../../assets/fonts/Inter-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../../assets/fonts/Inter-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../../assets/fonts/Inter-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

// border
$border: 1px solid $grey;


$screen-big01: 1799px;
$screen-big0: 1599px;
$screen-big1: 1399px;
$screen-big2: 1199px;
$screen-big3: 1024px;
$screen-big4: 992px;
$screen-big5: 768px;
$screen-big6: 576px;
$screen-hbig1: 640px;
$screen-hbig7: 690px;


@mixin big01 {
    @media (max-width: #{$screen-big01}) {
        @content;
    }
}

@mixin big0 {
    @media (max-width: #{$screen-big0}) {
        @content;
    }
}

@mixin big1 {
    @media (max-width: #{$screen-big1}) {
        @content;
    }
}

@mixin big2 {

    @media (max-width: #{$screen-big2}) {
        @content;
    }
}

@mixin big3 {
    @media (max-width: #{$screen-big3}) {
        @content;
    }
}

@mixin big4 {
    @media (max-width: #{$screen-big4}) {
        @content;
    }
}

@mixin big5 {
    @media (max-width: #{$screen-big5}) {
        @content;
    }
}

@mixin big6 {
    @media (max-width: #{$screen-big6}) {
        @content;
    }
}

// Big1
@mixin hbig1 {
    @media (max-height: #{$screen-big4}) {
        @content;
    }
}

// Big1
@mixin hbig2 {
    @media (max-height: #{$screen-big4}) {
        @content;
    }
}

// Big2
@mixin hbig3 {
    @media (max-height: #{$screen-big5}) {
        @content;
    }
}

// Big3
@mixin hbig4 {
    @media (max-height: #{$screen-big6}) {
        @content;
    }
}

// Big3
@mixin hbig5 {
    @media (max-height: #{$screen-big6}) {
        @content;
    }
}

@mixin hbig6 {
    @media (max-height: #{$screen-hbig1}) {
        @content;
    }
}

@mixin hbig7 {
    @media (max-height: #{$screen-hbig7}) {
        @content;
    }
}


@mixin bubbleblock {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 900px;
    margin: 0 auto;


    .bubbleblockagent {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 6px;

        .bubbleblockagenttextblock {
            max-width: 86%;
            display: flex;
            align-items: center;
            gap: 24px;
            justify-content: flex-end;


            .bubbleblockagenttext {
                border-radius: 16px;
                background: #F7F7F7;
                padding: 12px 16px;
                // display: flex;
                // flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                color: #000;
                font-size: 14px;
                font-weight: 400;
                line-height: 161.8%;
                word-break: break-word;

                &.textwithimg {
                    flex-direction: column;
                    display: flex;
                    gap: 14px;

                    .imgcontainer {
                        max-width: 200px;

                        img {
                            aspect-ratio: unset;
                        }
                    }

                    .chateditorfile {
                        max-width: 280px;
                        position: relative;
                        padding: 8px;
                        background: #edeff0;
                        border: 1px solid rgba(74, 83, 97, 0.2392156863);
                        border-radius: 12px;
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        gap: 12px;
                    }
                }

                p {
                    margin: 0;
                }

                img {
                    width: 100%;
                    height: 100%;
                    aspect-ratio: 3/1;
                    object-fit: contain;
                }
            }
        }
    }

    .bubbleblockcustomer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;

        .bubbleblockcustomertextlong {
            border-radius: 16px;
            background: #F7F7F7;
            color: #7423D7;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        .bubbleblockcustomertextblock {
            display: flex;
            align-items: center;
            gap: 24px;
            justify-content: flex-start;

            .bubbleblockcustomertext {
                // color: #fff;
                font-size: 16px;
                border-radius: 16px;
                // background: var(--Colors-Special-Colors-Ultramarine-blue, #575CFF);
                padding: 12px 16px;
                line-height: 160.1%;

                iframe {
                    width: 798px;
                    height: 500px;
                    border: 0;
                }


                div {
                    word-wrap: break-word;
                    white-space: normal;
                    word-break: break-word;
                }

                p {
                    margin: 0 0 12px;
                    word-wrap: break-word;
                    white-space: normal;
                    word-break: break-word;
                }

                h1 {
                    font-size: 22px;
                    font-weight: 600;
                    line-height: 133%;
                    /* 27.93px */
                    margin: 0px;
                }

                h2 {
                    font-size: 21px;
                    font-weight: 600;
                    line-height: 133%;
                    /* 27.93px */
                    margin: 0px;
                }

                h3 {
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 133%;
                    /* 27.93px */
                    margin: 0px;
                }

                h4 {
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 133%;
                    /* 27.93px */
                    margin: 20px 0 10px;
                }

                h5 {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 133%;
                    /* 27.93px */
                    margin: 0px;
                }

                p {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 22px;

                }

                ul {
                    font-weight: 400;
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    padding: 0 0 0 20px;
                    font-size: 14px;
                    line-height: 22px;
                    margin: 4px 0 12px 0;

                    li {}
                }

                ol {
                    font-weight: 400;
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    padding: 0 0 0 20px;
                    font-size: 14px;
                    line-height: 22px;
                    margin: 4px 0 12px 0;

                    li {}
                }
            }

            .forward {
                display: none;
                cursor: pointer;
            }

            &:hover {
                .forward {
                    display: block;
                }
            }
        }
    }
}

@mixin skeletonStyles {

    .skeletonTitle {
        width: 240px;
        height: 16px;
        border-radius: 4px;
        background: #e0e0e0;
    }

    .skeletonBadge {
        width: 60px;
        height: 16px;
        border-radius: 12px;
        background: #e0e0e0;
        margin-left: 10px;
    }

    .skeletonText {
        display: inline-block;
        width: 120px;
        height: 12px;
        margin-left: 8px;
        border-radius: 4px;
        background: #e0e0e0;
    }

    .skeletonTextsm {
        display: inline-block;
        width: 60px;
        height: 12px;
        margin-left: 8px;
        border-radius: 4px;
        background: #e0e0e0;
    }

    .skeletonIcon {
        width: 28px;
        height: 28px;
        background: #e0e0e0;
        border-radius: 4px;
    }

    /* shimmer animation */
    .skeletonTitle,
    .skeletonBadge,
    .skeletonText,
    .skeletonIcon,
    .skeletonTextsm {
        position: relative;
        overflow: hidden;
    }

    .skeletonTitle::after,
    .skeletonBadge::after,
    .skeletonText::after,
    .skeletonIcon::after,
    .skeletonTextsm::after {
        content: "";
        position: absolute;
        top: 0;
        left: -150px;
        height: 100%;
        width: 150px;
        background: linear-gradient(90deg, transparent, #f5f5f5, transparent);
        animation: shimmer 1.2s infinite;
    }

    @keyframes shimmer {
        100% {
            left: 100%;
        }
    }
}


@mixin paragraph {
    color: #3F3F49;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}